Repository Energinet-DataHub/ARCHIVED-geh-post-office: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Factory in samples
  samples/SubDomain/DataAvailable/Program.cs
  samples/SubDomain/GetMessage/Functions/ReplyToDequeueFromPostOffice.cs
Due: none

Renamed Peek and Dequeue to avoid a warning about name conflict
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/DequeueFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/DequeueAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAzureFunctionTests.cs
Due: unit, integration

Adding bundle id to peek http request. Edited tests and models
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IMarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekCommandRuleSetTests.cs
Due: unit, integration

Added StorageHandler
  source/PostOffice.Communicator/source/PostOffice.Communicator/PostOffice.Communicator.csproj
  source/PostOffice.Communicator/source/PostOffice.Communicator/Storage/BlobServiceStorage.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Storage/IStorageHandler.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Storage/StorageHandler.cs
Due: none

Guids in package
  source/PostOffice.Communicator.Tests/Dequeue/DequeueNotificationParserTests.cs
  source/PostOffice.Communicator.Tests/Dequeue/DequeueNotificationSenderTests.cs
  source/PostOffice.Communicator.Tests/Peek/DataBundleRequestSenderTests.cs
  source/PostOffice.Communicator.Tests/Peek/ResponseBundleParserTests.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Dequeue/DequeueNotificationParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Dequeue/DequeueNotificationSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/DataBundleRequestDto.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/DequeueNotificationDto.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/RequestDataBundleResponseDto.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/RequestBundleParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/ResponseBundleParser.cs
Due: none

Updated package UTs
  source/PostOffice.Communicator.Tests/Peek/DataBundleResponseSenderTests.cs
  source/PostOffice.Communicator.Tests/Peek/ResponseBundleParserTests.cs
Due: none

DTO in name to avoid conflicts
  source/PostOffice.Communicator.Tests/DataAvailable/DataAvailableNotificationParserTests.cs
  source/PostOffice.Communicator.Tests/DataAvailable/DataAvailableNotificationSenderTests.cs
  source/PostOffice.Communicator.Tests/Dequeue/DequeueNotificationParserTests.cs
  source/PostOffice.Communicator.Tests/Dequeue/DequeueNotificationSenderTests.cs
  source/PostOffice.Communicator.Tests/Peek/ResponseBundleParserTests.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/DataAvailable/DataAvailableNotificationParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/DataAvailable/DataAvailableNotificationSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Dequeue/DequeueNotificationParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Dequeue/DequeueNotificationSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/DataAvailableNotificationDto.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/DataBundleResponseErrorDto.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/DequeueNotificationDto.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/GlobalLocationNumberDto.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/MessageTypeDto.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/RequestDataBundleResponseDto.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/ResponseBundleParser.cs
Due: none

Removed DTO from property names
  source/Energinet.DataHub.PostOffice.Tests/Services/Infrastructure/BundleContentRequestServiceTests.cs
  source/PostOffice.Communicator.Tests/DataAvailable/DataAvailableNotificationParserTests.cs
  source/PostOffice.Communicator.Tests/Dequeue/DequeueNotificationParserTests.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/DataAvailable/DataAvailableNotificationParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/DataAvailable/DataAvailableNotificationSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Dequeue/DequeueNotificationParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Dequeue/DequeueNotificationSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/DataAvailableNotificationDto.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/DequeueNotificationDto.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/RequestDataBundleResponseDto.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/ResponseBundleParser.cs
Due: unit, integration

Updating project to package
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Uuid.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/DataAvailableMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/BundleContentRequestService.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/SubDomain/DataAvailableAzureFunctionTests.cs
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-01.nupkg
Due: unit, integration

Update samples
  samples/SubDomain/DataAvailable/DataAvailableNotificationFactory.cs
  samples/SubDomain/DataAvailable/Program.cs
  samples/SubDomain/DataAvailable/SubDomainOrigin.cs
  samples/SubDomain/GetMessage/Functions/ReplyToRequestFromPostOffice.cs
Due: none

Added MarketRoles and MeteringPoints
  source/PostOffice.Communicator.Tests/Dequeue/DequeueNotificationSenderTests.cs
  source/PostOffice.Communicator.Tests/Peek/DataBundleResponseSenderTests.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/DomainOrigin.cs
Due: none

Added bundleid to integration tests and added ruleset for bundleid and PeekCommand
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/DequeueIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/PeekIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/SubDomain/DataAvailableIntegrationTests.cs
Due: unit

Removed unused file
  source/Energinet.DataHub.PostOffice.Domain/Model/OpenBundleStreamAsync.cs
Due: unit

Azure Functions should use POST and Anonymous
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/DequeueFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekFunction.cs
Due: none

Adding test for BundleID in PeekCommand
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekCommandRuleSetTests.cs
Due: unit, integration

M Energinet.DataHub.PostOffice.Libraries.sln
  source/Energinet.DataHub.PostOffice.Libraries.sln
Due: none

Storagehandler implementation
  source/PostOffice.Communicator.Tests/Dequeue/DequeueNotificationParserTests.cs
  source/PostOffice.Communicator.Tests/Peek/MockedServiceBusReceivedMessage.cs
  source/PostOffice.Communicator.Tests/Storage/StorageHandlerTests.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Exceptions/PostOfficeCommunicatorStorageException.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Factories/IStorageServiceClientFactory.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Factories/StorageServiceClientFactory.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Storage/IStorageHandler.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Storage/StorageHandler.cs
Due: none

M PostOffice.Communicator.SimpleInjector.csproj
  source/PostOffice.Communicator.SimpleInjector/source/PostOffice.Communicator.SimpleInjector/PostOffice.Communicator.SimpleInjector.csproj
Due: none

GLN validation and mocking
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/GlobalLocationNumberValidationRule.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedGln.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/DequeueIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/PeekIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/SubDomain/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/Rules/GlobalLocationNumberValidationRuleTests.cs
Due: unit, integration

Changed names and comments in protobuf files to reflect domain models in nuget package
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedServiceBusClient.cs
  source/PostOffice.Communicator.Tests/DataAvailable/DataAvailableNotificationParserTests.cs
  source/PostOffice.Communicator.Tests/Dequeue/DequeueNotificationParserTests.cs
  source/PostOffice.Communicator.Tests/Peek/DataBundleRequestSenderTests.cs
  source/PostOffice.Communicator.Tests/Peek/RequestBundleParserTests.cs
  source/PostOffice.Communicator.Tests/Peek/ResponseBundleParserTests.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/DataAvailable/DataAvailableNotificationParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/DataAvailable/DataAvailableNotificationSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Dequeue/DequeueNotificationParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Dequeue/DequeueNotificationSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/DataBundleResponseDto.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/RequestBundleParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/ResponseBundleParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/PostOffice.Communicator.csproj
  source/PostOffice.Communicator/source/PostOffice.Communicator/Protobuf/DataAvailableNotificationContract.proto
  source/PostOffice.Communicator/source/PostOffice.Communicator/Protobuf/DataBundleRequestContract.proto
  source/PostOffice.Communicator/source/PostOffice.Communicator/Protobuf/DataBundleResponseContract.proto
  source/PostOffice.Communicator/source/PostOffice.Communicator/Protobuf/DequeueContract.proto
Due: none

Corrected after merge
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  source/PostOffice.Communicator.Tests/DataAvailable/DataAvailableNotificationParserTests.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/DataAvailable/DataAvailableNotificationParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/DataAvailable/DataAvailableNotificationSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Dequeue/DequeueNotificationParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Dequeue/DequeueNotificationSender.cs
Due: none

Substring through index
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/GlobalLocationNumberValidationRule.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedGln.cs
Due: unit

Incorrect range value
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/GlobalLocationNumberValidationRule.cs
Due: unit

Make new package, change property name MarketOperator to make more sense in the context and to reflect what is in Libraries
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  source/Energinet.DataHub.PostOffice.Application/Commands/DequeueCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/DequeueCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedServiceBusClient.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/DequeueHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/DequeueCommandRuleSetTests.cs
  source/PostOffice.Communicator.SimpleInjector/source/PostOffice.Communicator.SimpleInjector/PostOffice.Communicator.SimpleInjector.csproj
  source/PostOffice.Communicator.Tests/DataAvailable/DataAvailableNotificationParserTests.cs
  source/PostOffice.Communicator.Tests/Dequeue/DequeueNotificationParserTests.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/DataAvailable/DataAvailableNotificationParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/DataAvailable/DataAvailableNotificationSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Dequeue/DequeueNotificationParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Dequeue/DequeueNotificationSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/DequeueNotificationDto.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Protobuf/DataAvailableNotificationContract.proto
  source/PostOffice.Communicator/source/PostOffice.Communicator/Protobuf/DequeueContract.proto
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-04.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.1.0.0-CI-04.nupkg
Due: unit, integration

Forgot this
  source/PostOffice.Communicator.SimpleInjector/source/PostOffice.Communicator.SimpleInjector/PostOffice.Communicator.SimpleInjector.csproj
Due: none

A ../../../source/Energinet.DataHub.PostOffice.Common/AssemblyInfo.cs A ../../../source/Energinet.DataHub.PostOffice.Tests/Common/ServiceBusRegistrationTests.cs
  source/Energinet.DataHub.PostOffice.Common/AssemblyInfo.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/ServiceBusRegistrationTests.cs
Due: unit, integration

Remove unnecessary project reference
  source/PostOffice.Communicator.SimpleInjector/source/PostOffice.Communicator.SimpleInjector/PostOffice.Communicator.SimpleInjector.csproj
Due: none

Preparation for domain endpoints
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IBundleRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IMarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
Due: unit, integration

Storage handler implemented
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  samples/SubDomain/GetMessage/Functions/ReplyToRequestFromPostOffice.cs
  samples/SubDomain/GetMessage/GetMessage.csproj
  samples/SubDomain/GetMessage/Program.cs
  samples/SubDomain/GetMessage/Storage/StorageController.cs
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/InfrastructureServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/BundleRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/MarketOperatorDataStorageService.cs
  source/Energinet.DataHub.PostOffice.ServiceContracts/Startup.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/SimpleInjector/SimpleInjectorServiceProviderAdapterTests.cs
  source/PostOffice.Communicator.Tests/Storage/MockedBlobDownloadStreamingResult.cs
  source/PostOffice.Communicator.Tests/Storage/StorageHandlerTests.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Factories/StorageServiceClientFactory.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Storage/StorageHandler.cs
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-01.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-04.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-05.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.1.0.0-CI-04.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.1.0.0-CI-05.nupkg
Due: unit, integration

Reference correct package
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
Due: unit, integration

Added AzFunc
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekAggregationsOrTimeSeriesCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekAggregationsOrTimeSeriesFunction.cs
Due: unit

Added MockedStorageClientFactory
  source/Energinet.DataHub.PostOffice.Tests/Common/MockedStorageServiceClientFactory.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
Due: unit, integration

Added a few more tests
  source/PostOffice.Communicator.Tests/Storage/StorageHandlerTests.cs
Due: none

Added storageClient unit test
  source/PostOffice.Communicator.Tests/Factories/StorageServiceClientFactoryTests.cs
Due: none

Split lines to make it more readable.
  source/PostOffice.Communicator.Tests/Peek/DataBundleRequestSenderTests.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/ResponseBundleParser.cs
Due: none

Add StorageHandler to SimpleInjector Package.
  source/PostOffice.Communicator.SimpleInjector/source/PostOffice.Communicator.SimpleInjector/ContainerExtensions.cs
Due: none

Removed unneeded await
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/MarketOperatorDataStorageService.cs
Due: integration

Unit Tests
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekAggregationsOrTimeSeriesCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekCommandBase.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekAggregationsOrTimeSeriesCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IBundleRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/PeekIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/DataAvailableNotificationRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAggregationsOrTimeSeriesAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Repositories/BundleRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
Due: unit, integration

Update Trigger
  source/Energinet.DataHub.PostOffice.IntegrationTests/CosmosTestIntegration.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
Due: none

Removed unused using
  source/PostOffice.Communicator.Tests/Storage/MockedBlobDownloadStreamingResult.cs
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.PostOffice.Application/, source/Energinet.DataHub.PostOffice.Domain/, source/Energinet.DataHub.PostOffice.Tests/
  integration: any of: source/Energinet.DataHub.PostOffice.Tests/, source/Energinet.DataHub.PostOffice.Common/, source/Energinet.DataHub.PostOffice.Inbound/, source/Energinet.DataHub.PostOffice.Outbound/, source/Energinet.DataHub.PostOffice.Infrastructure/
