Repository Energinet-DataHub/ARCHIVED-geh-post-office: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

M source/Energinet.DataHub.PostOffice.Common/Extensions/HttpRequestDataExtensions.cs
  source/Energinet.DataHub.PostOffice.Common/Extensions/HttpRequestDataExtensions.cs
Due: integration

M source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/HttpRequestDataExtensionsTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/HttpRequestDataExtensionsTests.cs
Due: unit, integration

Removed a comma (testing pipeline)
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableNotificationRepository.cs
Due: unit

Unit tests af ExceptionExtensions
  source/Energinet.DataHub.PostOffice.Common/Extensions/ExceptionExtensions.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/ExceptionExtensionsTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/HttpRequestDataExtensionsTests.cs
Due: unit, integration

M Energinet.DataHub.PostOffice.Tests/Common/Extensions/ExceptionExtensionsTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/ExceptionExtensionsTests.cs
Due: unit, integration

cleanup and upping UT coverage
  source/Energinet.DataHub.PostOffice.Common/Extensions/ServiceCollectionValidationExtension.cs
  source/Energinet.DataHub.PostOffice.Tests/Infrastructure/ServiceBusConfigTests.cs
Due: unit, integration

Updated terraform files for new structure
  build/infrastructure/main/azfun-inbound.tf
  build/infrastructure/main/azfun-marketoperator-dequeue.tf
  build/infrastructure/main/azfun-marketoperator-peek.tf
  build/infrastructure/main/azfun-subdomain.tf
  build/infrastructure/main/cosmos-postoffice.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/sb-marketoperator.tf
  build/infrastructure/main/sbn-subdomain.tf
  build/infrastructure/main/sbq-marketoperator-charges.tf
  build/infrastructure/main/sbq-marketoperator-timeseries.tf
  build/infrastructure/main/sbq-subdomain-dataavailable.tf
  build/infrastructure/main/sbt-inbound-aggregations.tf
  build/infrastructure/main/sbt-inbound-dataavailable.tf
  build/infrastructure/main/sbt-inbound-marketdata.tf
  build/infrastructure/main/sbt-inbound-timeseries.tf
  build/infrastructure/main/stor-marketoperator-response.tf
  build/infrastructure/main/stor-outbound-getmessage.tf
  build/infrastructure/main/stor-schemas.tf
Due: none

Updated subdomain sample
  samples/SubDomain/GetMessage/Functions/ReplyToRequestFromPostOffice.cs
  samples/SubDomain/GetMessage/Storage/StorageController.cs
  samples/SubDomain/GetMessage/local.settings.sample.json
Due: none

Post Office nuget library
  source/Energinet.DataHub.PostOffice.Libraries.sln
  source/PostOffice.Communicator.Tests/AssemblyInfo.cs
  source/PostOffice.Communicator.Tests/PostOffice.Communicator.Tests.csproj
  source/PostOffice.Communicator/documents/documentation.md
  source/PostOffice.Communicator/documents/release-notes/release-notes.md
  source/PostOffice.Communicator/source/PostOffice.Communicator/DummyService.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/PostOffice.Communicator.csproj
Due: none

Package github actions
  .github/workflows/solution-ci.yml
Due: none

Separate package-ci
  .github/workflows/package-ci.yml
Due: none

Improved naming
  .github/workflows/package-ci.yml
Due: none

Dummy unit test
  source/PostOffice.Communicator.Tests/DummyServiceTests.cs
  source/PostOffice.Communicator.Tests/PostOffice.Communicator.Tests.csproj
Due: none

TF update
  build/infrastructure/main/azfun-marketoperator-dequeue.tf
  build/infrastructure/main/azfun-marketoperator-peek.tf
  build/infrastructure/main/azfun-subdomain.tf
  build/infrastructure/main/sbn-marketoperator.tf
  build/infrastructure/main/sbn-subdomain.tf
  build/infrastructure/main/stor-marketoperator-response.tf
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableInbox.cs
Due: none

Changes for servicebus queue
  samples/SubDomain/DataAvailable/DataAvailableModel.cs
  samples/SubDomain/DataAvailable/Program.cs
  source/Energinet.DataHub.PostOffice.Common/ServiceCollectionExtensions.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/ServiceBusConfig.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
Due: unit, integration

Test updated
  source/Energinet.DataHub.PostOffice.Tests/Infrastructure/ServiceBusConfigTests.cs
Due: unit, integration

updated settigs sample file
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/local.settings.sample.json
Due: none

Different folder for package output
  .github/workflows/package-ci.yml
  .github/workflows/solution-ci.yml
Due: none

Adding use og nuget packages and added support for main args in sending DataAvailableNotification
  samples/SubDomain/DataAvailable/Contracts/DataAvailable.proto
  samples/SubDomain/DataAvailable/DataAvailableModel.cs
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  samples/SubDomain/DataAvailable/DataAvailableNotificationFactory.cs
  samples/SubDomain/DataAvailable/Program.cs
Due: none

Removed content type validation check for IsEnumName.
  source/Energinet.DataHub.PostOffice.Application/Validation/DataAvailableNotificationCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/DataAvailableNotificationCommandRuleSetTests.cs
Due: unit, integration

Change datatype of ContentType from Enum to String
  source/Energinet.DataHub.PostOffice.Application/Handlers/DataAvailableNotificationHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/ContentType.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IWeightCalculatorDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/WeightCalculatorDomainService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Services/RequestBundleDomainServiceTests.cs
  source/Energinet.DataHub.PostOffice.Tests/DataAvailableTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/DataAvailableNotificationHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/WeightCalculatorDomainServiceTests.cs
Due: unit, integration

azure function name changes
  .github/workflows/inbound-cd.yml
  .github/workflows/outbound-cd.yml
Due: none

changes local nuget version number for subdomain package
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  samples/SubDomain/DataAvailable/Program.cs
Due: none

Updated GetMessage with usage of nuget package for postoffice communication.
  samples/SubDomain/GetMessage/Contracts/MessageReply.proto
  samples/SubDomain/GetMessage/Contracts/Requestdata.proto
  samples/SubDomain/GetMessage/Functions/ReplyToRequestFromPostOffice.cs
  samples/SubDomain/GetMessage/GetMessage.csproj
  samples/SubDomain/GetMessage/Program.cs
Due: none

Concurrency in peek
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Bundle.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/IBundleContent.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IBundleRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IMarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IRequestBundleDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IServiceBusService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/RequestBundleDomainService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/BundleDocument.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/BundleMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Model/AzureBlobBundleContent.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/ServiceBusService.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/CosmosTestIntegration.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Services/RequestBundleDomainServiceTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Repositories/BundleRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
Due: unit, integration

changed sleep operation for sending multiple dataAvailableNotifications
  samples/SubDomain/DataAvailable/Program.cs
Due: none

Few more UTs, cleanup
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/CosmosTestIntegration.cs
  source/Energinet.DataHub.PostOffice.Tests/Model/BundleTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Repositories/BundleRepositoryTests.cs
Due: unit, integration

Include .pdb files
  source/PostOffice.Communicator/source/PostOffice.Communicator/PostOffice.Communicator.csproj
Due: none

updated terraform scripts for meteringpoints
  build/infrastructure/main/azfun-marketoperator-peek.tf
  build/infrastructure/main/sbq-marketoperator-aggregations.tf
  build/infrastructure/main/sbq-marketoperator-marketroles.tf
  build/infrastructure/main/sbq-marketoperator-meteringpoints.tf
  build/infrastructure/main/stor-marketoperator-response.tf
Due: none

added new domain origins
  source/Energinet.DataHub.PostOffice.Domain/Model/DomainOrigin.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/WeightCalculatorDomainService.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/WeightCalculatorDomainServiceTests.cs
Due: unit, integration

Singleton registration of ServiceBus
  source/Energinet.DataHub.PostOffice.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
Due: integration

Singleton registration
  source/Energinet.DataHub.PostOffice.Common/ApplicationServiceRegistration.cs
Due: integration

More documentation
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/DataBundleRequestDto.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Model/RequestDataBundleResponseDto.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/IDataBundleRequestSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/IDataBundleResponseSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/IRequestBundleParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/IResponseBundleParser.cs
Due: none

added init cosmos trigger for bundles
  build/infrastructure/main/cosmos-postoffice.tf
Due: none

Incorrect scope in UTs
  source/Energinet.DataHub.PostOffice.IntegrationTests/MarketOperatorIntegrationTestHost.cs
Due: none

Updated terraform version for supporting cosmos triggers
  build/infrastructure/main/providers.tf
Due: none

updated cosmos trigger
  build/infrastructure/main/cosmos-postoffice.tf
Due: none

Additional unit tests
  source/PostOffice.Communicator.Tests/Peek/DataBundleResponseSenderTests.cs
  source/PostOffice.Communicator.Tests/Peek/RequestBundleParserTests.cs
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-01.nupkg
Due: none

Test of parsing error dto
  source/PostOffice.Communicator.Tests/Peek/ResponseBundleParserTests.cs
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.PostOffice.Application/, source/Energinet.DataHub.PostOffice.Domain/, source/Energinet.DataHub.PostOffice.Tests/
  integration: any of: source/Energinet.DataHub.PostOffice.Tests/, source/Energinet.DataHub.PostOffice.Common/, source/Energinet.DataHub.PostOffice.Inbound/, source/Energinet.DataHub.PostOffice.Outbound/, source/Energinet.DataHub.PostOffice.Infrastructure/
