Repository Energinet-DataHub/ARCHIVED-geh-post-office: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.PostOffice.Application/
      - source/Energinet.DataHub.PostOffice.Domain/
      - source/Energinet.DataHub.PostOffice.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.PostOffice.Tests/
      - source/Energinet.DataHub.PostOffice.Common/
      - source/Energinet.DataHub.PostOffice.Inbound/
      - source/Energinet.DataHub.PostOffice.Outbound/
      - source/Energinet.DataHub.PostOffice.Infrastructure/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

fixed typo in solution-ci.yml
  .github/workflows/solution-ci.yml
Due: none

Added implementation for PeekAsync in DataAvailableNotificationRepository.cs with recipient and messageType. Test added.
  source/Energinet.DataHub.PostOffice.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
Due: integration

Mocked CosmosClient returns NULL as Container
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/MockedCosmosClient.cs
Due: unit, integration

Adding return type DataAvailableNotificationResponse for DataAvailableNotificationHandler. Property fix and test refactor-
  source/Energinet.DataHub.PostOffice.Application/Commands/DataAvailableNotificationResponse.cs
  source/Energinet.DataHub.PostOffice.Application/DataAvailable/DataAvailableCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/DataAvailableNotificationHandler.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CosmosDataAvailable.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
Due: unit, integration

Updated Handler test
  source/Energinet.DataHub.PostOffice.Tests/DataAvailableTests.cs
Due: unit, integration

Change CosmosDataAvailable property names to use CamelCase
  source/Energinet.DataHub.PostOffice.Infrastructure/CosmosDataAvailable.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CosmosDataAvailableStore.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableRepository.cs
  source/Energinet.DataHub.PostOffice.Tests/Helpers/TestData.cs
Due: unit, integration

Naming of the domain model
  source/Energinet.DataHub.PostOffice.Application/Handlers/DataAvailableNotificationHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Bundle.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/ContentType.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/DataAvailableNotification.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/IBundle.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/MarketOperator.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/SubDomain.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IBundleRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IMarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IWarehouseDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/BundleMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/DataAvailableTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/DequeueHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Repositories/BundleRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/WarehouseDomainServiceTests.cs
Due: unit, integration

DataAvailableNotificationCommand moved to Commands folder
  source/Energinet.DataHub.PostOffice.Application/Commands/DataAvailableNotificationCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Application/Handlers/DataAvailableNotificationHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/DataAvailableRuleSet.cs
  source/Energinet.DataHub.PostOffice.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Inbound/Parsing/DataAvailableContractParser.cs
  source/Energinet.DataHub.PostOffice.Inbound/Startup.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/DataAvailableMapper.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/DataAvailableTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/ValidationTests.cs
Due: unit, integration

Moved .sln into source. Rename to EntryPoint.SubDomain. Rename to EntryPoint.MarketOperator.
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Extensions/HttpRequestExtensions.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Dequeue.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/DequeueOrig.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/GetMessage.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Peek.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/host.json
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/local.settings.sample.json
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Energinet.DataHub.PostOffice.EntryPoint.SubDomain.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableInbox.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/GreenEnergyHub/ServiceCollectionValidationExtension.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Parsing/DataAvailableContractParser.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/host.json
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/local.settings.sample.json
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/BundleDocument.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/MessageReplyDocument.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/BundleMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/MessageReplyRepository.cs
  source/Energinet.DataHub.PostOffice.sln
  source/Energinet.DataHub.PostOffice.sln.DotSettings
Due: integration

new paths for project files
  .github/workflows/inbound-cd.yml
  .github/workflows/outbound-cd.yml
  .github/workflows/solution-ci.yml
Due: none

Moved project references
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/InboundIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.Tests/DataAvailableTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
Due: unit, integration

ContentType to Weight map service #159
  source/Energinet.DataHub.PostOffice.Application/Commands/DataAvailableNotificationCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/DataAvailableNotificationHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/DataAvailableNotification.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/DomainOrigin.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/ContentTypeMaxWeightMap.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IContentTypeMaxWeightMap.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CosmosDataAvailable.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CosmosDataAvailableStore.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/DataAvailableTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Helpers/TestData.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/ContentTypeMaxWeightMapTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
Due: unit, integration

add missing registration
  source/Energinet.DataHub.PostOffice.Common/DomainServiceRegistration.cs
Due: integration

Adding POC Sample projects for SubDomain and DataAvailable
  samples/SubDomain/DataAvailable/Contracts/DataAvailable.proto
  samples/SubDomain/DataAvailable/DataAvailableModel.cs
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  samples/SubDomain/DataAvailable/GlobalSuppressions.cs
  samples/SubDomain/DataAvailable/Program.cs
  samples/SubDomain/DataAvailable/SubDomainOrigin.cs
  samples/SubDomain/DataAvailable/local.settings.sample.json
  samples/SubDomain/GetMessage/Contracts/MessageReply.proto
  samples/SubDomain/GetMessage/Contracts/Requestdata.proto
  samples/SubDomain/GetMessage/Functions/ReplyToRequestFromPostOffice.cs
  samples/SubDomain/GetMessage/GetMessage.csproj
  samples/SubDomain/GetMessage/GlobalSuppressions.cs
  samples/SubDomain/GetMessage/Program.cs
  samples/SubDomain/GetMessage/Storage/StorageController.cs
  samples/SubDomain/GetMessage/host.json
  samples/SubDomain/GetMessage/local.settings.sample.json
  samples/SubDomain/GetMessage/stylecop.json
  samples/SubDomain/SubDomain-Sample.sln
Due: none

#142 Updated validation and added unit tests
  source/Energinet.DataHub.PostOffice.Application/ApplicationAssemblyReference.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/DataAvailableNotificationCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/DataAvailableNotificationHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/DataAvailableNotificationCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/DequeueCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/GlobalLocationNumberValidationRule.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/UuidValidationRule.cs
  source/Energinet.DataHub.PostOffice.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/Extensions/ServiceCollectionValidationExtension.cs
  source/Energinet.DataHub.PostOffice.Common/MediatR/SimpleInjectorMediatorContainerExtensions.cs
  source/Energinet.DataHub.PostOffice.Common/MediatR/ValidationPipelineBehaviour.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/GlobalLocationNumber.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/MarketOperator.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Uuid.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Energinet.DataHub.PostOffice.EntryPoint.SubDomain.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/BundleMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Pipeline/DataAvailableValidationBehavior.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/DataAvailableTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/DequeueHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/WarehouseDomainServiceTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/DataAvailableNotificationCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/DequeueCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/GetMessageRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/Rules/GlobalLocationNumberValidationRuleTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/Rules/UuidValidationRuleTests.cs
Due: unit, integration

InternalsVisibleTo for Startup
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/AssemblyInfo.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/AssemblyInfo.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
Due: none

License
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/AssemblyInfo.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/AssemblyInfo.cs
Due: none

handled contenttype unknown
  source/Energinet.DataHub.PostOffice.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IWeightCalculatorDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/WeightCalculatorDomainService.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/WeightCalculatorDomainServiceTests.cs
Due: unit, integration

Adding missing License, renaming namespace
  samples/SubDomain/DataAvailable/DataAvailableModel.cs
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  samples/SubDomain/DataAvailable/GlobalSuppressions.cs
  samples/SubDomain/DataAvailable/Program.cs
  samples/SubDomain/DataAvailable/SubDomainOrigin.cs
  samples/SubDomain/GetMessage/GetMessage.csproj
  samples/SubDomain/SubDomain-Sample.sln
Due: none

Added missing license and license error fixed
  samples/SubDomain/DataAvailable/DataAvailableModel.cs
  samples/SubDomain/DataAvailable/GlobalSuppressions.cs
  samples/SubDomain/DataAvailable/Program.cs
  samples/SubDomain/DataAvailable/SubDomainOrigin.cs
  samples/SubDomain/GetMessage/GlobalSuppressions.cs
  samples/SubDomain/GetMessage/Program.cs
  samples/SubDomain/GetMessage/Storage/StorageController.cs
Due: none

Line breaks
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
Due: unit

Skeleton for tests
  source/Energinet.DataHub.PostOffice.IntegrationTests/CosmosTestIntegration.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/DequeueIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/PeekIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/MarketOperatorIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/SubDomainIntegrationTestHost.cs
Due: none

added usings and name fix
  samples/SubDomain/DataAvailable/Program.cs
Due: none

Peek and Dequeue tests
  source/Energinet.DataHub.PostOffice.Application/Commands/DataAvailableNotificationResponse.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Bundle.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/CosmosClientWrapper.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/DequeueIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/PeekIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/SubDomain/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/DataAvailableNotificationRepositoryTests.cs
Due: unit

Mocked ServiceBus
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedServiceBusClient.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/MarketOperatorIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/DataAvailableNotificationRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Services/RequestBundleDomainServiceTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/SubDomainIntegrationTestHost.cs
Due: unit, integration

Stream data from Peek AZ func #167
  source/Energinet.DataHub.PostOffice.Common/Extensions/HttpRequestDataExtensions.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Peek.cs
Due: integration

M source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Dequeue.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Dequeue.cs
Due: none

Azure Function Unit Tests
  source/Energinet.DataHub.PostOffice.Tests/Common/MockedFunctionContext.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/DequeueAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/SubDomain/DataAvailableAzureFunctionTests.cs
Due: unit, integration

Updated mock after merge
  source/Energinet.DataHub.PostOffice.Tests/Common/MockedHttpRequestData.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/DequeueAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAzureFunctionTests.cs
Due: unit, integration

HttpRequestDataExtensions unit tests
  source/Energinet.DataHub.PostOffice.Tests/AssemblyInfo.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/HttpRequestDataExtensionsTests.cs
Due: unit, integration

M source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/HttpRequestDataExtensionsTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/HttpRequestDataExtensionsTests.cs
Due: unit, integration

D AssemblyInfo.cs
  source/Energinet.DataHub.PostOffice.Tests/AssemblyInfo.cs
Due: unit, integration

Removed more old functionality + added missing test
  source/Energinet.DataHub.PostOffice.Domain/DataAvailable.cs
  source/Energinet.DataHub.PostOffice.Domain/Document.cs
  source/Energinet.DataHub.PostOffice.Domain/Enums/MessageReplyFailureReason.cs
  source/Energinet.DataHub.PostOffice.Domain/Exceptions/MessageReplyException.cs
  source/Energinet.DataHub.PostOffice.Domain/MessageReply.cs
  source/Energinet.DataHub.PostOffice.Domain/RequestData.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/DataAvailableNotificationHandlerTests.cs
Due: unit, integration

Optimize build pipeline
  .github/workflows/solution-ci.yml
Due: none

M .github/workflows/solution-ci.yml
  .github/workflows/solution-ci.yml
Due: none

M .github/workflows/solution-ci.yml A source/Energinet.DataHub.PostOffice.IntegrationTests/xunit.runner.json A source/Energinet.DataHub.PostOffice.Tests/xunit.runner.json
  .github/workflows/solution-ci.yml
  source/Energinet.DataHub.PostOffice.IntegrationTests/xunit.runner.json
  source/Energinet.DataHub.PostOffice.Tests/xunit.runner.json
Due: unit, integration

removed rogue whitespace
  .github/workflows/solution-ci.yml
Due: none

Request processing with basic logging and exception handling for http-triggered functions #172
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/Extensions/HttpRequestDataExtensions.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Dequeue.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Peek.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/HttpRequestDataExtensionsTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/DequeueAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAzureFunctionTests.cs
Due: unit, integration
