Repository Energinet-DataHub/ARCHIVED-geh-post-office: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Mbes/396 order of outgoing messages repositories (#438)
  source/Energinet.DataHub.PostOffice.Application/Handlers/UpdateMaximumSequenceNumberCommandHandler.cs
  source/Energinet.DataHub.PostOffice.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/ISequenceNumberRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosSequenceNumber.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/SequenceNumberRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/SequenceNumberRepositoryTests.cs
Due: unit, integration

Trigger
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Program.cs
Due: none

upgrade middleware logging
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator.csproj
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
Due: unit, integration

upgrade middleware logging (#566)
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator.csproj
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
Due: unit, integration

Upgrade TargetFramework and AzureFunctionsVersion
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Domain/Energinet.DataHub.PostOffice.Domain.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Energinet.DataHub.PostOffice.EntryPoint.Operations.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Energinet.DataHub.PostOffice.EntryPoint.SubDomain.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
  source/Energinet.DataHub.PostOffice.Utilities/Energinet.DataHub.PostOffice.Utilities.csproj
  source/Microsoft.Azure.Functions.Isolated.TestDoubles/Microsoft.Azure.Functions.Isolated.TestDoubles.csproj
Due: unit, integration

Update analyzers
  Directory.Build.props
Due: none

Change CA1848 to suggestion
  .editorconfig
Due: none

Fix CA2253: Use correct Message Template: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-6.0#log-message-template
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/BundleContentRequestService.cs
  source/Energinet.DataHub.PostOffice.Utilities/LoggerExtensions.cs
Due: integration

Suppress CA2007 in Tests.
  source/Energinet.DataHub.PostOffice.IntegrationTests/.editorconfig
  source/Energinet.DataHub.PostOffice.Tests/.editorconfig
Due: unit, integration

Suppress CA2007 for relevant operations in production code, and ensure IDE0079 is set as a warning.
  .editorconfig
  source/Energinet.DataHub.PostOffice.Common/Auth/ActorProvider.cs
  source/Energinet.DataHub.PostOffice.Common/Extensions/ExceptionExtensions.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/ServiceBusQueueVerifier.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/SqlDatabaseVerifier.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Common/CosmosExtensions.cs
Due: integration

Use .NET 6.0.201 in CI pipeline
  .github/workflows/ci.yml
Due: none

Libraries: .NET 6
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.MessageHub.Client.Tests/Energinet.DataHub.MessageHub.Client.Tests.csproj
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Core.Tests/Energinet.DataHub.MessageHub.Core.Tests.csproj
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/Energinet.DataHub.MessageHub.IntegrationTesting.csproj
  source/Energinet.DataHub.MessageHub.Model.Tests/Energinet.DataHub.MessageHub.Model.Tests.csproj
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
Due: none

Suppress CA2007 in Tests.
  source/Energinet.DataHub.MessageHub.Client.Tests/.editorconfig
  source/Energinet.DataHub.MessageHub.Core.Tests/.editorconfig
Due: none

Suppress CA2007 in specific operations.
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Peek/DataBundleRequestSender.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Storage/StorageHandler.cs
Due: none

Added comment
  source/Energinet.DataHub.MessageHub.Client.Tests/.editorconfig
  source/Energinet.DataHub.MessageHub.Core.Tests/.editorconfig
  source/Energinet.DataHub.PostOffice.IntegrationTests/.editorconfig
  source/Energinet.DataHub.PostOffice.Tests/.editorconfig
Due: unit, integration

Use .NET 6.0.201 for CI/CD
  .github/workflows/cd.yml
  .github/workflows/publish-messagehub-client-simpleinjector.yml
  .github/workflows/publish-messagehub-client.yml
  .github/workflows/publish-messagehub-core.yml
  .github/workflows/publish-messagehub-integrationtesting.yml
  .github/workflows/publish-messagehub-model.yml
Due: none

Update TF: Use new functions module
  build/infrastructure/main/func-marketoperator.tf
  build/infrastructure/main/func-operations.tf
  build/infrastructure/main/func-subdomain.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Bump versions to next major version.
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.MessageHub.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Core/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
  source/Energinet.DataHub.MessageHub.IntegrationTesting/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/Energinet.DataHub.MessageHub.IntegrationTesting.csproj
  source/Energinet.DataHub.MessageHub.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
Due: none

Update NuGet packages in library projects
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.MessageHub.Client.Tests/Energinet.DataHub.MessageHub.Client.Tests.csproj
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Core.Tests/Energinet.DataHub.MessageHub.Core.Tests.csproj
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
  source/Energinet.DataHub.MessageHub.Model.Tests/Energinet.DataHub.MessageHub.Model.Tests.csproj
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
Due: none

Revert "Update NuGet packages in library projects"
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.MessageHub.Client.Tests/Energinet.DataHub.MessageHub.Client.Tests.csproj
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Core.Tests/Energinet.DataHub.MessageHub.Core.Tests.csproj
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
  source/Energinet.DataHub.MessageHub.Model.Tests/Energinet.DataHub.MessageHub.Model.Tests.csproj
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
Due: none

Correct protobuf output folder (publish will fail).
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
Due: none

Correct protobuf output folder (publish will fail). (#571)
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
Due: none

Update Client and Core packages.
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
Due: none

Update Client and Core packages. (#572)
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
Due: none

Update packages in message hub.
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
Due: unit, integration

Update packages in message hub. (#573)
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
Due: unit, integration

logging upgrade 1.2.1
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator.csproj
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
Due: unit, integration

logging upgrade 1.2.1 (#575)
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator.csproj
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
Due: unit, integration

Replace Guard with .net 6 variant.
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/InsertDataAvailableNotificationsCommandHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/MaximumSequenceNumberCommandHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/ActorDbConfig.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/AuthRegistrations.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/JwtAuthenticationMiddleware.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/QueryAuthenticationMiddleware.cs
  source/Energinet.DataHub.PostOffice.Common/CorrelationIdMiddleware.cs
  source/Energinet.DataHub.PostOffice.Common/EntryPointTelemetryScopeMiddleware.cs
  source/Energinet.DataHub.PostOffice.Common/Extensions/ExceptionExtensions.cs
  source/Energinet.DataHub.PostOffice.Common/Extensions/HttpRequestDataExtensions.cs
  source/Energinet.DataHub.PostOffice.Common/Extensions/UriExtensions.cs
  source/Energinet.DataHub.PostOffice.Common/Model/ErrorResponse.cs
  source/Energinet.DataHub.PostOffice.Common/SimpleInjector/SimpleInjectorActivator.cs
  source/Energinet.DataHub.PostOffice.Common/SimpleInjector/SimpleInjectorScopedRequest.cs
  source/Energinet.DataHub.PostOffice.Common/SimpleInjector/SimpleInjectorServiceProviderAdapter.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/CabinetKey.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/ExternalBundleIdProvider.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Functions/HealthFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableTimerTrigger.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CosmosDatabaseConfig.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/SequenceNumberRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/BundleContentRequestService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/MarketOperatorDataStorageService.cs
  source/Energinet.DataHub.PostOffice.Tests/Utilities/GuardTests.cs
  source/Energinet.DataHub.PostOffice.Utilities/Guard.cs
Due: unit, integration

Remove Guard from packages too.
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/ContainerExtensions.cs
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Guard.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/DataAvailable/DataAvailableNotificationSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Factories/AzureServiceBusFactory.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Guard.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/DataBundleResponseSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Storage/StorageHandler.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Dequeue/DequeueNotificationSender.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Extensions/ServiceBusMessageExtensions.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/AzureServiceBusFactory.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Guard.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Peek/DataBundleRequestSender.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Storage/StorageHandler.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Dequeue/DequeueNotificationParser.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Extensions/DataBundleRequestDtoExtensions.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/DomainOrigin.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Peek/RequestBundleParser.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Peek/ResponseBundleParser.cs
Due: none

Removed old Guard from config
  .editorconfig
Due: none

added global.json to post office
  global.json
Due: none

added global.json to post office (#577)
  global.json
Due: none

Move to common CorrelationId provider.
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Common/CorrelationIdMiddleware.cs
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/EntryPointTelemetryScopeMiddleware.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/ICorrelationIdProvider.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Constants.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/DequeueFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekAggregationsFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekMasterDataFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekTimeSeriesFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Program.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Correlation/CorrelationContext.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Correlation/ICorrelationContext.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Correlation/TraceContext.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/BundleContentRequestService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/CorrelationIdProvider.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedCorrelationContext.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/MarketOperatorIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/EntryPointTelemetryScopeMiddlewareTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/DequeueHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/BundledIdTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/DequeueAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAggregationsAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekMasterDataAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekTimeSeriesAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Infrastructure/BundleContentRequestServiceTests.cs
Due: unit, integration

JwtTokenMiddleware had an updated API.
  source/Energinet.DataHub.PostOffice.Common/Auth/AuthRegistrations.cs
Due: integration

Actor needs to be updated too.
  source/Energinet.DataHub.PostOffice.Common/Auth/AuthRegistrations.cs
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
Due: integration

Missing ref to Jwt.
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
Due: integration

Added missing correlation context registration.
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
Due: integration

replaced deprecated servicebus package
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Energinet.DataHub.PostOffice.EntryPoint.Operations.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Energinet.DataHub.PostOffice.EntryPoint.SubDomain.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableMessageReceiver.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableTimerTrigger.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/IDataAvailableMessageReceiver.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/SubDomain/DataAvailableTimerTriggerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/SubDomain/Functions/DataAvailableMessageReceiverTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/SubDomain/Functions/MockedMessage.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/SubDomain/MockedMessage.cs
Due: unit, integration

Path conditions:
  unit: any of: source/Energinet.DataHub.PostOffice.Application/, source/Energinet.DataHub.PostOffice.Domain/, source/Energinet.DataHub.PostOffice.Tests/
  integration: any of: source/Energinet.DataHub.PostOffice.Tests/, source/Energinet.DataHub.PostOffice.Common/, source/Energinet.DataHub.PostOffice.Inbound/, source/Energinet.DataHub.PostOffice.Outbound/, source/Energinet.DataHub.PostOffice.Infrastructure/
