Repository Energinet-DataHub/ARCHIVED-geh-post-office: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Test med windows
  .github/workflows/inbound-ci.yml
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
Due: unit, integration

Test with Cosmos
  .github/workflows/inbound-ci.yml
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
Due: unit, integration

testing_unit_tests
  source/Energinet.DataHub.PostOffice.Tests/DataAvailableTests.cs
Due: unit, integration

Failed for wrong reason: code smell
  source/Energinet.DataHub.PostOffice.Tests/DataAvailableTests.cs
Due: unit, integration

trailing whitespaces... :/
  source/Energinet.DataHub.PostOffice.Tests/DataAvailableTests.cs
Due: unit, integration

Another attempt...
  source/Energinet.DataHub.PostOffice.Tests/DataAvailableTests.cs
Due: unit, integration

Fix integrationtests attempt
  .github/workflows/codecov-ci.yml
  .github/workflows/inbound-ci.yml
  source/Energinet.DataHub.PostOffice.Common/ServiceCollectionExtensions.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CosmosContainerConfig.cs
Due: integration

Fix integrationtests attempt
  .github/workflows/codecov-ci.yml
Due: none

Fix integration tests
  .github/workflows/codecov-ci.yml
Due: none

Cosmos create container
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/InboundIntegrationTestHost.cs
Due: none

xunit.runner.visualstudio missing
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
Due: unit, integration

Remove test code
  source/Energinet.DataHub.PostOffice.Common/ServiceCollectionExtensions.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/InboundIntegrationTestHost.cs
Due: integration

Updated packages
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
  source/Energinet.DataHub.PostOffice.Tests/GetMessage/ContentPathStrategyTests.cs
  source/Energinet.DataHub.PostOffice.Tests/MessageReplys/ContentPathStrategyTests.cs
Due: unit, integration

Revert ServiceBus package
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
Due: unit, integration

Updated github workflows
  .github/workflows/codecov-ci.yml
  .github/workflows/inbound-ci.yml
  .github/workflows/outbound-ci.yml
Due: none

Renamed CI step
  .github/workflows/codecov-ci.yml
Due: none

Updated Azure Packages
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Inbound/Energinet.DataHub.PostOffice.Inbound.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.Outbound/Energinet.DataHub.PostOffice.Outbound.csproj
  source/Energinet.DataHub.PostOffice.ServiceContracts/Energinet.DataHub.PostOffice.ServiceContracts.csproj
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
Due: unit, integration

.NET 3.1 required for Azure Func
  .github/workflows/codecov-ci.yml
Due: none

Improve naming in CI workflow
  .github/workflows/codecov-ci.yml
Due: none

Renamed file to solution-ci.yml
  .github/workflows/solution-ci.yml
Due: none

Added first implementation of DataAvailableNotificationRepository
  source/Energinet.DataHub.PostOffice.Infrastructure/CosmosDataAvailable.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
Due: integration

Added missing configureAwait, null check and renaming
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
Due: unit, integration

UTs for WarehouseDomainService
  source/Energinet.DataHub.PostOffice.Domain/Services/IWarehouseDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/WarehouseDomainService.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/WarehouseDomainServiceTests.cs
Due: unit, integration

#140 Wire Dequeue function to domain model Tests of DequeueHandler and PeekHandler
  source/Energinet.DataHub.PostOffice.Application/Commands/DequeueCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/DequeueResponse.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.Outbound/Extensions/HttpRequestExtensions.cs
  source/Energinet.DataHub.PostOffice.Outbound/Functions/Dequeue.cs
  source/Energinet.DataHub.PostOffice.Outbound/Functions/DequeueOrig.cs
  source/Energinet.DataHub.PostOffice.Outbound/Functions/Peek.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/DequeueHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
Due: unit, integration

Added changes to DataAvailableNotificationHandler, changed DataAvailableTests, removed DataAvailableHandler.cs
  source/Energinet.DataHub.PostOffice.Application/DataAvailable/DataAvailableHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/DataAvailableNotificationHandler.cs
  source/Energinet.DataHub.PostOffice.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Tests/DataAvailableTests.cs
Due: unit, integration

DataAvailableNotificationRepository GetContainer method removed
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
Due: integration

added changes for DataAvailableIntegrationTests and repository
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
Due: integration

Dequeue with BundleUuid
  source/Energinet.DataHub.PostOffice.Application/Commands/DequeueCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/DequeueResponse.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IWarehouseDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/WarehouseDomainService.cs
  source/Energinet.DataHub.PostOffice.Outbound/Functions/Dequeue.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/DequeueHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/WarehouseDomainServiceTests.cs
Due: unit, integration

Missing license
  source/Energinet.DataHub.PostOffice.Outbound/Functions/Dequeue.cs
Due: integration

CD should now run UTs correctly
  .github/actions/dotnet-build-and-test.yml
  .github/workflows/inbound-cd.yml
  .github/workflows/outbound-cd.yml
  .github/workflows/solution-ci.yml
Due: none

Missing arg
  source/Energinet.DataHub.PostOffice.Outbound/Extensions/HttpRequestExtensions.cs
Due: integration

fixed registration Peek
  source/Energinet.DataHub.PostOffice.Outbound/Startup.cs
Due: integration

Workflow CD, action in wrong path
  .github/actions/dotnet-build-and-test/action.yml
Due: none

Added integration tests for DataAvailableNotificationRepository
  source/Energinet.DataHub.PostOffice.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/InboundIntegrationTestHost.cs
Due: integration

Implemented generic query parser extension. Used in Peek and Dequeue functions
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/Extensions/UriExtensions.cs
  source/Energinet.DataHub.PostOffice.Outbound/Extensions/HttpRequestExtensions.cs
  source/Energinet.DataHub.PostOffice.Outbound/Functions/Dequeue.cs
  source/Energinet.DataHub.PostOffice.Outbound/Functions/DequeueOrig.cs
  source/Energinet.DataHub.PostOffice.Outbound/Functions/Peek.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/UriExtensionsTests.cs
Due: unit, integration

Verifying CI
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/WarehouseDomainServiceTests.cs
Due: unit, integration

Publish artifact
  .github/workflows/solution-ci.yml
Due: none

more tests + cleanup
  source/Energinet.DataHub.PostOffice.Common/Extensions/UriExtensions.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/UriExtensionsTests.cs
Due: unit, integration

fixed typo
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/UriExtensionsTests.cs
Due: unit, integration

more test
  source/Energinet.DataHub.PostOffice.Common/Extensions/UriExtensions.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/UriExtensionsTests.cs
Due: unit, integration

Path conditions:
  unit: any of: source/Energinet.DataHub.PostOffice.Application/, source/Energinet.DataHub.PostOffice.Domain/, source/Energinet.DataHub.PostOffice.Tests/
  integration: any of: source/Energinet.DataHub.PostOffice.Tests/, source/Energinet.DataHub.PostOffice.Common/, source/Energinet.DataHub.PostOffice.Inbound/, source/Energinet.DataHub.PostOffice.Outbound/, source/Energinet.DataHub.PostOffice.Infrastructure/
