Repository Energinet-DataHub/ARCHIVED-geh-post-office: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.PostOffice.Application/
      - source/Energinet.DataHub.PostOffice.Domain/
      - source/Energinet.DataHub.PostOffice.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.PostOffice.Tests/
      - source/Energinet.DataHub.PostOffice.Common/
      - source/Energinet.DataHub.PostOffice.Inbound/
      - source/Energinet.DataHub.PostOffice.Outbound/
      - source/Energinet.DataHub.PostOffice.Infrastructure/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

adding test for entrypoint middleware
  source/Energinet.DataHub.PostOffice.Tests/Common/EntryPointTelemetryScopeMiddlewareTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/MockedFunctionContext.cs
Due: unit, integration

M Energinet.DataHub.PostOffice.Libraries.sln M Energinet.DataHub.PostOffice.sln
  source/Energinet.DataHub.PostOffice.Libraries.sln
  source/Energinet.DataHub.PostOffice.sln
Due: none

added tests dataavailable and EntryPointMiddleware
  source/Energinet.DataHub.PostOffice.Tests/Common/EntryPointTelemetryScopeMiddlewareTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/SubDomain/DataAvailableAzureFunctionTests.cs
Due: unit, integration

AssemblyInfo
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/AssemblyInfo.cs
Due: none

Replace DataAvailable in batches
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
Due: integration

Less code by using bulkInsert
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/LogRepository.cs
Due: unit, integration

seperate test projects for individual packages
  source/Energinet.DataHub.MessageHub.Client.Tests/Storage/StorageHandlerTests.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Dequeue/DequeueNotificationSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Dequeue/IDequeueNotificationSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Extensions/ServiceBusMessageExtensions.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/DataBundleRequestSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/IDataBundleRequestSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Storage/IStorageHandler.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Storage/StorageHandler.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/AssemblyInfo.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Dequeue/DequeueNotificationSenderTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Energinet.DataHub.MessageHub.Core.Tests.csproj
  source/Energinet.DataHub.MessageHub.Core.Tests/Factories/ServiceBusClientFactoryTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Factories/StorageServiceClientFactoryTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/MockedServiceBusClient.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Peek/DataBundleRequestSenderTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Peek/MockedServiceBusReceivedMessage.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Storage/MockedBlobDownloadStreamingResult.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Storage/StorageHandlerTests.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/AssemblyInfo.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/AssemblyInfo.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/DataAvailable/DataAvailableNotificationParserTests.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/Dequeue/DequeueNotificationParserTests.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/Energinet.DataHub.MessageHub.Model.Tests.csproj
  source/Energinet.DataHub.MessageHub.Model.Tests/Exceptions/ExceptionTests.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/Model/DataBundleRequestDtoExtensionsTests.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/Peek/RequestBundleParserTests.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/Peek/ResponseBundleParserTests.cs
  source/Energinet.DataHub.PostOffice.Libraries.sln
Due: none

Batching
  source/Energinet.DataHub.PostOffice.Common/CosmosDbRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/DataAvailableNotificationRepositoryTests.cs
Due: integration

M source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
Due: none

upgraded packages:wq
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/AzureBlobStorageRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/ServiceBusRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Domain/Energinet.DataHub.PostOffice.Domain.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableInbox.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/DataAvailableMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/BundleContentRequestService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/MarketOperatorDataStorageService.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedGln.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedServiceBusClient.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedServiceBusClientFactory.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/StreamTestExtensions.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/MarketOperatorIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/SubDomainIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/AzureBlobStorageRegistrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/MockedServiceBusClientFactory.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/MockedStorageServiceClientFactory.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/ServiceBusRegistrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/DequeueHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/SubDomain/DataAvailableAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Infrastructure/Services/MarketOperatorDataStorageServiceTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Infrastructure/BundleContentRequestServiceTests.cs
Due: unit, integration

M source/Energinet.DataHub.MessageHub.Core.Tests/Energinet.DataHub.MessageHub.Core.Tests.csproj
  source/Energinet.DataHub.MessageHub.Core.Tests/Energinet.DataHub.MessageHub.Core.Tests.csproj
Due: none

M source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Extensions/ServiceBusMessageExtensions.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Extensions/ServiceBusMessageExtensions.cs
Due: none

Charges bundling
  source/Energinet.DataHub.PostOffice.Domain/Services/WeightCalculatorDomainService.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/WeightCalculatorDomainServiceTests.cs
Due: unit, integration

update packages in samples and did some cleanup
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  samples/SubDomain/DataAvailable/DataAvailableNotificationFactory.cs
  samples/SubDomain/DataAvailable/GlnHelper.cs
  samples/SubDomain/DataAvailable/Program.cs
  samples/SubDomain/GetMessage/Functions/ReplyToDequeueFromPostOffice.cs
  samples/SubDomain/GetMessage/Functions/ReplyToRequestFromPostOffice.cs
  samples/SubDomain/GetMessage/GetMessage.csproj
  samples/SubDomain/GetMessage/Program.cs
  samples/SubDomain/nuget.config
Due: none

first draft for adding singletons for servicebusclient and sender.
  source/Energinet.DataHub.MessageHub.Core.Tests/Dequeue/DequeueNotificationSenderTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Factories/ServiceBusClientFactoryTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Peek/DataBundleRequestSenderTests.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Dequeue/DequeueNotificationSender.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/AzureSenderServiceBus.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/AzureServiceBusFactory.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/AzureSessionReceiverServiceBus.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/IMessageBusFactory.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/IReceiverMessageBus.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/ISenderMessageBus.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Peek/DataBundleRequestSender.cs
Due: none

Add validation error when bundle id is not the same as current bundle id in Peek
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
Due: unit

Use same bundleIds to make the test run successfully.
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
Due: unit, integration

clean up code y removing lock for AzureServiceBusFactory and instead using Try Api
  source/Energinet.DataHub.MessageHub.Core.Tests/Peek/DataBundleRequestSenderTests.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/AzureSenderServiceBus.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/AzureServiceBusFactory.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Peek/DataBundleRequestSender.cs
Due: none

Added tests for AzureServiceBusFactory
  source/Energinet.DataHub.MessageHub.Core.Tests/Factories/AzureServiceBusFactoryTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Factories/ServiceBusClientFactoryTests.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/AzureServiceBusFactory.cs
Due: none

Refactor structure for AzureServiceBusFactory
  source/Energinet.DataHub.MessageHub.Core.Tests/Dequeue/DequeueNotificationSenderTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Factories/AzureServiceBusFactoryTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Factories/ServiceBusClientFactoryTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Peek/DataBundleRequestSenderTests.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Dequeue/DequeueNotificationSender.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/AzureSenderServiceBus.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/AzureServiceBusFactory.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/AzureSessionReceiverServiceBus.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/IMessageBusFactory.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/IReceiverMessageBus.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/IServiceBusClientFactory.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/ServiceBusClientFactory.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Peek/DataBundleRequestSender.cs
Due: none

Added unittest attribute
  source/Energinet.DataHub.MessageHub.Core.Tests/Factories/AzureServiceBusFactoryTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Factories/ServiceBusClientFactoryTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Factories/StorageServiceClientFactoryTests.cs
Due: none

Copied azure factory code to Client package. Nuget version update, test added.
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Factories/AzureSenderServiceBus.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Factories/AzureServiceBusFactory.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Factories/AzureSessionReceiverServiceBus.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Factories/IMessageBusFactory.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Factories/IReceiverMessageBus.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Factories/ISenderMessageBus.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Factories/AzureServiceBusFactoryTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Factories/ServiceBusClientFactoryTests.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
Due: none

Added service factory
  source/Energinet.DataHub.MessageHub.Client.Tests/Factories/AzureServiceBusFactoryTests.cs
Due: none

Updated usages of messageBusFactory in client. Updated SimpleInjector.
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/ContainerExtensions.cs
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.MessageHub.Client.Tests/DataAvailable/DataAvailableNotificationSenderTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Factories/AzureServiceBusFactoryTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Peek/DataBundleResponseSenderTests.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/DataAvailable/DataAvailableNotificationSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Factories/ServiceBusClientFactory.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/DataBundleResponseSender.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Factories/AzureServiceBusFactoryTests.cs
Due: none

Changes after review
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/DataAvailable/DataAvailableNotificationSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Factories/AzureSenderServiceBus.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Factories/AzureServiceBusFactory.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Factories/AzureSessionReceiverServiceBus.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Dequeue/DequeueNotificationSender.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Factories/AzureSessionReceiverServiceBus.cs
Due: none

updated nuget versions for messageHub Core and Model
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Domain/Energinet.DataHub.PostOffice.Domain.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
Due: unit, integration

updated nuget version for MessageHub Client and Model
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  samples/SubDomain/DataAvailable/Program.cs
  samples/SubDomain/GetMessage/GetMessage.csproj
Due: none

updated simpleinjecter nuget reference messagehub
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
Due: none

Added changes for tests
  source/Energinet.DataHub.PostOffice.Common/ServiceBusRegistration.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/MockedServiceBusClientFactory.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/ServiceBusRegistrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
Due: unit, integration

Updated model for Dequeue
  source/Energinet.DataHub.MessageHub.Model.Tests/Dequeue/DequeueNotificationParserTests.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/Model/DataBundleRequestDtoExtensionsTests.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/Peek/RequestBundleParserTests.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Dequeue/DequeueNotificationParser.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/DataBundleRequestDto.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/DequeueNotificationDto.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Peek/RequestBundleParser.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Protobuf/DataBundleRequestContract.proto
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Protobuf/DequeueContract.proto
Due: none

Trying to trigger build?
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Dequeue/IDequeueNotificationParser.cs
Due: none

Add word ToDo
  wordlist.txt
Due: none

WIP
  source/Energinet.DataHub.PostOffice.Application/Commands/DataAvailablesForRecipientCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/UpdateMaximumSequenceNumberCommand.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/DataAvailable.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Energinet.DataHub.PostOffice.EntryPoint.SubDomain.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/InsertTimerTrigger.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/DataAvailableMapper.cs
Due: unit, integration

Remove dead link
  docs/test.md
Due: none

WIP
  source/Energinet.DataHub.PostOffice.Domain/Model/BundleableNotificationsKey.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/DomainMessageType.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/IBundleableNotifications.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/SequenceNumber.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosDataAvailable.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosDomainMessageType.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosPartitionDescriptor.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Model/BundleableNotifications.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
Due: unit, integration

Add save in new architecture where cosmos is partitioned based on ROM key. Update tests to reflect new models
  source/Energinet.DataHub.PostOffice.Application/Commands/DataAvailableNotificationCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/DataAvailableNotificationHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/BundleableNotificationsKey.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/DataAvailableNotification.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/DomainMessageType.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/IBundleableNotifications.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/IBundleableNotificationsStorage.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosDataAvailable.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosDomainMessageType.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosPartitionDescriptor.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/CosmosDataAvailableMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/CosmosDomainMessageTypeMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/DataAvailableMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Model/BundleableNotifications.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/DequeueIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/PeekIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/Operations/DequeueCleanUpIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/SubDomain/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/DataAvailableNotificationRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/DataAvailableNotificationHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/SubDomain/Functions/DataAvailableTimerTriggerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/DataAvailableNotificationCommandRuleSetTests.cs
Due: unit, integration

Mbes/396 order of outgoing messages repositories (#437)
  source/Energinet.DataHub.PostOffice.Application/Commands/DataAvailableNotificationCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/DataAvailableNotificationHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/DataAvailableNotification.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/DomainMessageType.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/IBundleableNotifications.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/IBundleableNotificationsStorage.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosDataAvailable.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosDomainMessageType.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosPartitionDescriptor.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/CosmosDataAvailableMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/CosmosDomainMessageTypeMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/DataAvailableMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Model/BundleableNotifications.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/DequeueIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/PeekIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/Operations/DequeueCleanUpIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/SubDomain/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/DataAvailableNotificationRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/DataAvailableNotificationHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/SubDomain/Functions/DataAvailableTimerTriggerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/DataAvailableNotificationCommandRuleSetTests.cs
Due: unit, integration

Add GetCurrent() and AdvanceSequenceNumber()
  source/Energinet.DataHub.PostOffice.Application/Commands/UpdateMaximumSequenceNumberCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/UpdateMaximumSequenceNumberCommandHandler.cs
  source/Energinet.DataHub.PostOffice.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/ISequenceNumberRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosSequenceNumber.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/SequenceNumberRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/SequenceNumberRepositoryTests.cs
Due: unit, integration
