Repository Energinet-DataHub/ARCHIVED-geh-post-office: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.PostOffice.Application/
      - source/Energinet.DataHub.PostOffice.Domain/
      - source/Energinet.DataHub.PostOffice.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.PostOffice.Tests/
      - source/Energinet.DataHub.PostOffice.Common/
      - source/Energinet.DataHub.PostOffice.Inbound/
      - source/Energinet.DataHub.PostOffice.Outbound/
      - source/Energinet.DataHub.PostOffice.Infrastructure/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Updated Package temporarily
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  samples/SubDomain/GetMessage/Functions/ReplyToRequestFromPostOffice.cs
  samples/SubDomain/GetMessage/GetMessage.csproj
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
Due: unit, integration

Adding overwrite to blob storage. when same exists.
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Storage/StorageHandler.cs
Due: none

Updated Nuget PackageVersion
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
Due: none

Bumped package version
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  samples/SubDomain/GetMessage/GetMessage.csproj
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
Due: unit, integration

updated test
  source/Energinet.DataHub.MessageHub.Client.Tests/Storage/StorageHandlerTests.cs
Due: none

updated package version
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
Due: none

Change log to only log successful responses to market operator.
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekCommandBase.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekAggregationsOrTimeSeriesCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekChargesCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Logging/Log.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Logging/Reply.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Model/CosmosLog.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/LogRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/LogRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/LogRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekAggregationsOrTimeSeriesCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekChargesCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekCommandRuleSetTests.cs
Due: unit, integration

Added MasterData endpoint
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekMasterDataCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekMasterDataCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IMarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekMasterDataFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/CosmosTestIntegration.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/PeekIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekMasterDataAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekMasterDataCommandRuleSetTests.cs
Due: unit, integration

Add bundle reference if possible
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/LogRepository.cs
Due: integration

updated nuget package client reference to 1.0.5.
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  samples/SubDomain/GetMessage/Functions/ReplyToRequestFromPostOffice.cs
  samples/SubDomain/GetMessage/GetMessage.csproj
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
Due: unit, integration

MessageHub.Client config
  source/Energinet.DataHub.MessageHub.Client.Tests/DataAvailable/DataAvailableNotificationSenderTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Peek/DataBundleResponseSenderTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Peek/ResponseBundleParserTests.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/DataAvailable/DataAvailableNotificationSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/DomainConfig.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Model/DataBundleResponseDto.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/DataBundleRequestSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/DataBundleResponseSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/IDataBundleRequestSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/IDataBundleResponseSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/IResponseBundleParser.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/ResponseBundleParser.cs
Due: none

Adapted endpoints to new domains
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekAggregationsCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekTimeSeriesCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekAggregationsCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekTimeSeriesCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IBundleRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IMarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekAggregationsFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekTimeSeriesFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/PeekIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/DataAvailableNotificationRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAggregationsAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekTimeSeriesAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Repositories/BundleRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Repositories/DataAvailableNotificationRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekAggregationsOrTimeSeriesCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekChargesCommandRuleSetTests.cs
Due: unit, integration

Introduces ProcessId for combining bundleid and recipient. usesd for at unique blob naming.
  source/Energinet.DataHub.PostOffice.Domain/Model/Bundle.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/ProcessId.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/BundleMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/BundleContentRequestService.cs
Due: unit, integration

Changed dequeue test after IdempotencyId update
  source/Energinet.DataHub.PostOffice.Domain/Model/ProcessId.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/DequeueIntegrationTests.cs
Due: unit

Bumped version Energinet.DataHub.MessageHub.Client
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
Due: none

Corrected UTs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/CosmosTestIntegration.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/PeekIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
Due: unit, integration

bumped .Client.SimpleInjector an introduced DomainConfig
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/ContainerExtensions.cs
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
Due: none

M source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/ContainerExtensions.cs
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/ContainerExtensions.cs
Due: none

Changes to TF sbn, sbq references now uses shared resources.
  .github/workflows/infrastructure-cd.yml
  build/infrastructure/main/azfun-marketoperator-dequeue.tf
  build/infrastructure/main/azfun-marketoperator-peek.tf
  build/infrastructure/main/azfun-subdomain.tf
  build/infrastructure/main/resource-group.tf
  build/infrastructure/main/sbn-marketoperator.tf
  build/infrastructure/main/sbn-subdomain.tf
  build/infrastructure/main/sbq-marketoperator-aggregations.tf
  build/infrastructure/main/sbq-marketoperator-charges.tf
  build/infrastructure/main/sbq-marketoperator-marketroles.tf
  build/infrastructure/main/sbq-marketoperator-meteringpoints.tf
  build/infrastructure/main/sbq-marketoperator-timeseries.tf
  build/infrastructure/main/sbq-subdomain-dataavailable.tf
  build/infrastructure/main/variables.tf
Due: none

Added UTs, refactored some ConfigureAwait
  source/Energinet.DataHub.PostOffice.Common/SimpleInjector/SimpleInjectorScopedRequest.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Program.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Common/CosmosExtensions.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/DataAvailableNotificationRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/CosmosExtensionsTests.cs
Due: unit, integration

Log on types. Integrationtest not working
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekAggregationsOrTimeSeriesCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekChargesCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekMasterDataCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Logging/DequeueLog.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Logging/Log.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Logging/PeekAggregationsOrTimeSeriesLog.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Logging/PeekChargesLog.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Logging/PeekLog.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Logging/PeekMasterDataLog.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/ProcessId.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/ILogRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Model/CosmosLog.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/LogRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/LogRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/CosmosTestIntegration.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/LogRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekMasterDataCommandRuleSetTests.cs
Due: unit, integration

Solve merge conflicts with main
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
Due: unit

fixed messagetype in package
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Extensions/ServiceBusMessageExtensions.cs
Due: none

M source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Extensions/ServiceBusMessageExtensions.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Extensions/ServiceBusMessageExtensions.cs
Due: none

M source/Energinet.DataHub.PostOffice.Domain/Model/ProcessId.cs M source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/DequeueIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/ProcessId.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/DequeueIntegrationTests.cs
Due: unit

fixed bug causing terraform pipeline to not work
  .github/workflows/infrastructure-cd.yml
  build/infrastructure/main/azfun-marketoperator-dequeue.tf
  build/infrastructure/main/azfun-marketoperator-peek.tf
  build/infrastructure/main/azfun-subdomain.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/variables.tf
Due: none

Changed DequeueCommand and Peek*Command to use same query params
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekAggregationsCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekCommandBase.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekMasterDataCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekTimeSeriesCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekAggregationsCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekMasterDataCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekTimeSeriesCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekAggregationsOrTimeSeriesCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekChargesCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekMasterDataCommandRuleSetTests.cs
Due: unit, integration

Use config for DB name in bundles
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/BundleRepositoryContainer.cs
Due: integration

Add DomainOrigin to ensure correct ContentType
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/DataAvailableNotificationRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Repositories/DataAvailableNotificationRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
Due: unit, integration

Simplify creation of bundle created response
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Extensions/DataBundleRequestDtoExtensions.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Model/DataBundleResponseDto.cs
  source/Energinet.Datahub.PostOffice.Libraries.sln.DotSettings
Due: none

Refactor DomainConfig
  source/Energinet.DataHub.MessageHub.Client.Tests/DataAvailable/DataAvailableNotificationSenderTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Peek/DataBundleRequestSenderTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Peek/DataBundleResponseSenderTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Storage/StorageHandlerTests.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/DataAvailable/DataAvailableNotificationSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/MessageHubConfig.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/DataBundleRequestSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/DataBundleResponseSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/PeekRequestConfig.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Storage/StorageHandler.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/StorageConfig.cs
Due: none

Change public API to create response from request
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Extensions/DataBundleRequestDtoExtensions.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Model/DataBundleResponseDto.cs
Due: none

Bumped package version
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Extensions/DataBundleRequestDtoExtensions.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Model/DataBundleResponseDto.cs
Due: none

Fix name
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Extensions/DataBundleRequestDtoExtensions.cs
Due: none

Fix code reference
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Model/DataBundleResponseDto.cs
Due: none

Update samples to use new package
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  samples/SubDomain/DataAvailable/Program.cs
  samples/SubDomain/GetMessage/Functions/ReplyToRequestFromPostOffice.cs
  samples/SubDomain/GetMessage/GetMessage.csproj
  samples/SubDomain/GetMessage/Program.cs
  samples/SubDomain/GetMessage/local.settings.sample.json
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/ContainerExtensions.cs
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.Tests/Services/Infrastructure/BundleContentRequestServiceTests.cs
Due: unit, integration

Review rettelser
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Extensions/DataBundleRequestDtoExtensions.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/DequeueCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekAggregationsCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekCommandBase.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekMasterDataCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekTimeSeriesCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/DequeueCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekAggregationsCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekMasterDataCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekTimeSeriesCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/DequeueHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/DequeueCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekAggregationsOrTimeSeriesCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekChargesCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekMasterDataCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.sln.DotSettings
  source/Energinet.Datahub.PostOffice.Libraries.sln.DotSettings
Due: unit, integration
