Repository Energinet-DataHub/ARCHIVED-geh-post-office: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Add registration method for `IServiceCollection`
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/documents/documentation.md
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/ServiceCollectionExtensions.cs
Due: none

tests
  source/Energinet.DataHub.MessageHub.Client.Tests/ServiceBusMessageExtensionsTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/ServiceBusMessageExtensionsTests.cs
Due: none

Fix markdown spelling
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/documents/documentation.md
Due: none

feat: OperationTimestamp is now instant (#666)
  source/Energinet.DataHub.MessageHub.Client.Tests/ServiceBusMessageExtensionsTests.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Extensions/ServiceBusMessageExtensions.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/ServiceBusMessageExtensionsTests.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Extensions/ServiceBusMessageExtensions.cs
Due: none

update to non alpha
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
Due: unit, integration

update core and client package (#667)
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
Due: unit, integration

Upgrade .github to 7.7.0. Remove DOTNET_VERSION
  .github/workflows/ci.yml
Due: none

Remove DOTNET_VERSION
  .github/workflows/cd.yml
Due: none

Use OIDC
  build/infrastructure/main/backend.tf
  build/infrastructure/main/providers.tf
Due: none

Updated protobuf contract for xml/json support
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Protobuf/DataBundleRequestContract.proto
Due: none

Implementation of new fields in protobuf and client
  source/Energinet.DataHub.MessageHub.Model.Tests/Model/DataBundleRequestDtoExtensionsTests.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/Peek/RequestBundleParserTests.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/DataBundleRequestDto.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/ResponseFormat.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Peek/RequestBundleParser.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Protobuf/DataBundleRequestContract.proto
Due: none

Updated package version
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
Due: none

Updated nuget package version
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
Due: none

Update package references
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
Due: unit, integration

Update tests after package update
  source/Energinet.DataHub.MessageHub.Client.Tests/Peek/DataBundleResponseSenderTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Storage/StorageHandlerTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Peek/DataBundleRequestSenderTests.cs
Due: none

Updated classes to pass new query params
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekAggregationsCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekCommandBase.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekMasterDataCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekTimeSeriesCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Domain/Energinet.DataHub.PostOffice.Domain.csproj
  source/Energinet.DataHub.PostOffice.Domain/Services/IBundleContentRequestService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IMarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IRequestBundleDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/RequestBundleDomainService.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/DequeueFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Helpers/Constants.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Helpers/ExternalBundleIdProvider.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Helpers/ExternalResponseFormatProvider.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Helpers/ExternalResponseVersionProvider.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekAggregationsFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekMasterDataFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekTimeSeriesFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/BundleContentRequestService.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/DequeueIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/PeekIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/SubDomain/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/BundledIdTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/ExternalBundleIdProviderTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAggregationsAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekMasterDataAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekTimeSeriesAzureFunctionTests.cs
Due: unit, integration

Updated Tests and Handlers
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/BundledIdTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAggregationsAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekMasterDataAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekTimeSeriesAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/RequestBundleDomainServiceTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Infrastructure/BundleContentRequestServiceTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekAggregationsOrTimeSeriesCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekChargesCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekMasterDataCommandRuleSetTests.cs
Due: unit, integration

Ensure default value is returned
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Helpers/ExternalResponseFormatProvider.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Helpers/ExternalResponseVersionProvider.cs
Due: none

Consolidate NuGet packages
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Energinet.DataHub.PostOffice.EntryPoint.SubDomain.csproj
Due: none

Updated NuGet packages
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Domain/Energinet.DataHub.PostOffice.Domain.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Energinet.DataHub.PostOffice.EntryPoint.Operations.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Energinet.DataHub.PostOffice.EntryPoint.SubDomain.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
  source/Energinet.DataHub.PostOffice.Utilities/Energinet.DataHub.PostOffice.Utilities.csproj
  source/Microsoft.Azure.Functions.Isolated.TestDoubles/Microsoft.Azure.Functions.Isolated.TestDoubles.csproj
Due: unit, integration

Use Application Insights extension
  source/Energinet.DataHub.PostOffice.Common/ApplicationInsightTelemetry.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Program.cs
Due: integration

fixed UTs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/Operations/MarketParticipantIngestionTests.cs
  source/Microsoft.Azure.Functions.Isolated.TestDoubles/MockBindingMetadata.cs
  source/Microsoft.Azure.Functions.Isolated.TestDoubles/MockFunctionDefinition.cs
Due: unit, integration

added missing registration
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
Due: integration

Added interface to external helper providers
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Protobuf/DataBundleRequestContract.proto
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Helpers/ExternalBundleIdProvider.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Helpers/ExternalResponseFormatProvider.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Helpers/ExternalResponseVersionProvider.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Helpers/IExternalBundleIdProvider.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Helpers/IExternalResponseFormatProvider.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Helpers/IExternalResponseVersionProvider.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekAggregationsFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekMasterDataFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekTimeSeriesFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
Due: none

Fixed double comments
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Helpers/IExternalBundleIdProvider.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Helpers/IExternalResponseFormatProvider.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/Helpers/IExternalResponseVersionProvider.cs
Due: none

Update Packages to newest versions
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
Due: none

Update Packages to newest versions (#740)
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
Due: none

Update core package and fix missing fields
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/Energinet.DataHub.MessageHub.IntegrationTesting.csproj
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/MessageHubSimulation.cs
Due: none

bug: Race condition when saving.
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
Due: integration

Update Packages to newest versions (#742)
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/Energinet.DataHub.MessageHub.IntegrationTesting.csproj
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/MessageHubSimulation.cs
Due: none

bug: Race condition when saving. (#743)
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
Due: integration

- use project references - update to use sourcelink
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/Energinet.DataHub.MessageHub.IntegrationTesting.csproj
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
Due: none

merge nuget publish pipeline into one
  .github/actions/publish-nuget-package/action.yml
  .github/workflows/ci.yml
  .github/workflows/messagehub-bundle-publish.yml
  .github/workflows/publish-messagehub-client-simpleinjector.yml
  .github/workflows/publish-messagehub-client.yml
  .github/workflows/publish-messagehub-core.yml
  .github/workflows/publish-messagehub-integrationtesting.yml
  .github/workflows/publish-messagehub-model.yml
Due: none

update nuget package versions
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.MessageHub.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Core/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
  source/Energinet.DataHub.MessageHub.IntegrationTesting/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/Energinet.DataHub.MessageHub.IntegrationTesting.csproj
  source/Energinet.DataHub.MessageHub.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
Due: none

adjust NUPKG_RECURSE_PATH
  .github/workflows/messagehub-bundle-publish.yml
Due: none

fix md lint
  source/Energinet.DataHub.MessageHub.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Core/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.IntegrationTesting/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Model/documents/release-notes/release-notes.md
Due: none

update documentation
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Core/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.IntegrationTesting/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Model/documents/release-notes/release-notes.md
Due: none

.
  wordlist.txt
Due: none

add codecov.yml
  codecov.yml
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.PostOffice.Application/, source/Energinet.DataHub.PostOffice.Domain/, source/Energinet.DataHub.PostOffice.Tests/
  integration: any of: source/Energinet.DataHub.PostOffice.Tests/, source/Energinet.DataHub.PostOffice.Common/, source/Energinet.DataHub.PostOffice.Inbound/, source/Energinet.DataHub.PostOffice.Outbound/, source/Energinet.DataHub.PostOffice.Infrastructure/
