Repository Energinet-DataHub/ARCHIVED-geh-post-office: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Update Core and Client packages with ActorId. (#613)
  source/Energinet.DataHub.MessageHub.Client.Tests/DataAvailable/DataAvailableNotificationSenderTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Peek/DataBundleResponseSenderTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Storage/StorageHandlerTests.cs
  source/Energinet.DataHub.MessageHub.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/DataAvailable/DataAvailableNotificationSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Core.Tests/Dequeue/DequeueNotificationSenderTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Peek/DataBundleRequestSenderTests.cs
  source/Energinet.DataHub.MessageHub.Core/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Dequeue/DequeueNotificationSender.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
Due: none

Update to final packages.
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
Due: unit, integration

Added ingestion of actors. (#614)
  build/infrastructure/main/func-marketoperator.tf
  build/infrastructure/main/func-operations.tf
  build/infrastructure/main/func-subdomain.tf
  build/infrastructure/main/kv-shared-resources.tf
  source/Energinet.DataHub.PostOffice.Application/Commands/DeleteActorCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/UpdateActorCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Application/Handlers/ActorUpdatedHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/DeleteActorCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/ServiceBusRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/local.settings.sample.json
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Energinet.DataHub.PostOffice.EntryPoint.Operations.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Functions/DequeueCleanUpFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Functions/MarketParticipantIngestionFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/local.settings.sample.json
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableTimerTrigger.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/local.settings.sample.json
  source/Energinet.DataHub.PostOffice.Infrastructure/DataAvailableServiceBusConfig.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/MarketParticipantServiceBusConfig.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/BundleContentRequestService.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedGln.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/Operations/ActorIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/OperationsIntegrationHost.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/ServiceBusRegistrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/ActorUpdatedHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/Operations/MarketParticipantIngestionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/SubDomain/DataAvailableTimerTriggerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Infrastructure/MarketParticipantServiceBusConfigTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Infrastructure/ServiceBusConfigTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/DeleteActorCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: unit, integration

Add missing function registration.
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/OperationsIntegrationHost.cs
Due: none

Add missing function registration. (#615)
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/OperationsIntegrationHost.cs
Due: none

Removed old CimJson Converter
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Builders/Array/CimJsonArrayElementBuilder.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Builders/Attributes/CimJsonAttributeBuilder.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Builders/Attributes/CimJsonIntegerAttributeElementDescriptorBuilder.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Builders/Attributes/CimJsonStringAttributeElementDescriptorBuilder.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Builders/Elements/CimJsonIntegerElementDescriptorBuilder.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Builders/Elements/CimJsonStringElementDescriptorBuilder.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Builders/General/CimJsonBuilder.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Builders/General/CimJsonElementDescriptorBuilder.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Builders/Nested/CimJsonNestedDescriptorBuilder.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Elements/Attributes/CimJsonBaseAttribute.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Elements/Attributes/CimJsonIntegerAttribute.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Elements/Attributes/CimJsonStringAttribute.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Elements/CimJsonArray.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Elements/CimJsonBaseElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Elements/CimJsonInteger.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Elements/CimJsonNested.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Elements/CimJsonString.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Elements/ICimJsonElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Factories/CimJsonElementFactory.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Interfaces/Array/ICimJsonArrayDescriptorBuilderSelectName.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Interfaces/Array/ICimJsonArrayElementDescriptorBuilder.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Interfaces/Attributes/ICimJsonAttribute.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Interfaces/Attributes/ICimJsonAttributeDescriptor.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Interfaces/Attributes/ICimJsonAttributeDescriptorBuilder.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Interfaces/Attributes/ICimJsonAttributeElementDescriptor.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Interfaces/Attributes/ICimJsonAttributeSelectNameBuilder.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Interfaces/Descriptor/ICimJsonElementDescriptor.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Interfaces/Element/ICimJsonElementDescriptorBuilder.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Interfaces/Element/ICimJsonElementDescriptorSelectNameBuilder.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Interfaces/General/ICimJsonAddXmlDataSource.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Interfaces/General/ICimJsonConfigureElementDescriptor.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Interfaces/Nested/ICimJsonNestedDescriptorBuilder.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Interfaces/Nested/ICimJsonNestedDescriptorBuilderSelectName.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/BaseJsonTemplate.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/NotifyValidatedMeasureDataTemplate.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/RejectRequestChangeAccountingPointCharacteristicsTemplate.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/RejectRequestValidatedMeasureDataTemplate.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/RequestChangeAccountingPointCharacteristicsTemplate.cs
Due: integration

Updated References to old CimJson
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/PeekReturnTypeProvider.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/CimJson/CimJsonIntegrationTests.cs
Due: unit, integration

Byte array not filled out.
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Energinet.DataHub.PostOffice.EntryPoint.Operations.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Functions/MarketParticipantIngestionFunction.cs
Due: none

Do not remove SQL_DB (yet).
  build/infrastructure/main/func-operations.tf
  build/infrastructure/main/func-subdomain.tf
Due: none

Fixed UT
  source/Energinet.DataHub.PostOffice.Tests/Hosts/Operations/MarketParticipantIngestionTests.cs
Due: unit, integration

Byte array not filled out. (#616)
  build/infrastructure/main/func-operations.tf
  build/infrastructure/main/func-subdomain.tf
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Energinet.DataHub.PostOffice.EntryPoint.Operations.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Functions/MarketParticipantIngestionFunction.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/Operations/MarketParticipantIngestionTests.cs
Due: unit, integration

Check for message order.
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableTimerTrigger.cs
Due: none

Check for message order. (#617)
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableTimerTrigger.cs
Due: none

Refactor settings.
  source/Energinet.DataHub.PostOffice.Common/ApplicationInsightTelemetry.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/ActorDbConfig.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/AuthRegistrations.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/LegacyActorProvider.cs
  source/Energinet.DataHub.PostOffice.Common/AzureBlobStorageRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/Configuration/Setting.cs
  source/Energinet.DataHub.PostOffice.Common/Configuration/Settings.cs
  source/Energinet.DataHub.PostOffice.Common/CosmosDbRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/Extensions/ConfigurationExtensions.cs
  source/Energinet.DataHub.PostOffice.Common/QueueConfigurationRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/RequestResponseLoggingStorageRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/ServiceBusRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Functions/MarketParticipantIngestionFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CosmosDatabaseConfig.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/DataAvailableServiceBusConfig.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/MarketParticipantServiceBusConfig.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/ActorRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/BundleRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/CosmosClients/CosmosClientProvider.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/CosmosClients/ICosmosBulkClient.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/CosmosClients/ICosmosClient.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/DataAvailableNotificationRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/SubDomain/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/MarketOperatorIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/OperationsIntegrationHost.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/SubDomainIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/AzureBlobStorageRegistrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/ConfigurationExtensionsTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/CosmosExtensionsTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/ServiceBusRegistrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Infrastructure/MarketParticipantServiceBusConfigTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Infrastructure/ServiceBusConfigTests.cs
Due: unit, integration

Added missing mocked config.
  source/Energinet.DataHub.PostOffice.IntegrationTests/SubDomainIntegrationTestHost.cs
Due: none

Incorrectly changed Host is some tests.
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/SubDomain/DataAvailableIntegrationTests.cs
Due: none

Removed manual config init, use HostBuilder instead.
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/MarketOperatorIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/OperationsIntegrationHost.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/SubDomainIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
Due: unit, integration

Update cd.yml
  .github/workflows/cd.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

fix validation error
  build/infrastructure/main/cosmos-postoffice.tf
Due: none

Update market participant package.
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Energinet.DataHub.PostOffice.EntryPoint.Operations.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Functions/MarketParticipantIngestionFunction.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/Operations/MarketParticipantIngestionTests.cs
Due: unit, integration

Refactor settings. (#618)
  source/Energinet.DataHub.PostOffice.Common/ApplicationInsightTelemetry.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/ActorDbConfig.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/AuthRegistrations.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/LegacyActorProvider.cs
  source/Energinet.DataHub.PostOffice.Common/AzureBlobStorageRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/Configuration/Setting.cs
  source/Energinet.DataHub.PostOffice.Common/Configuration/Settings.cs
  source/Energinet.DataHub.PostOffice.Common/CosmosDbRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/Extensions/ConfigurationExtensions.cs
  source/Energinet.DataHub.PostOffice.Common/QueueConfigurationRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/RequestResponseLoggingStorageRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/ServiceBusRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Functions/MarketParticipantIngestionFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CosmosDatabaseConfig.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/DataAvailableServiceBusConfig.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/MarketParticipantServiceBusConfig.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/ActorRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/BundleRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/CosmosClients/CosmosClientProvider.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/CosmosClients/ICosmosBulkClient.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/CosmosClients/ICosmosClient.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/DataAvailableNotificationRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/MarketOperatorIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/OperationsIntegrationHost.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/SubDomainIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/AzureBlobStorageRegistrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/ConfigurationExtensionsTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/CosmosExtensionsTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/ServiceBusRegistrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Infrastructure/MarketParticipantServiceBusConfigTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Infrastructure/ServiceBusConfigTests.cs
Due: unit, integration

Fixed error in UT.
  source/Energinet.DataHub.PostOffice.Tests/Hosts/Operations/MarketParticipantIngestionTests.cs
Due: unit, integration

Update market participant package. (#620)
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Energinet.DataHub.PostOffice.EntryPoint.Operations.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Functions/MarketParticipantIngestionFunction.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/Operations/MarketParticipantIngestionTests.cs
Due: unit, integration

Temporary remove part of health-check.
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
Due: none

Sometimes I am stupid.
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
Due: none

Temporary remove part of health-check. (#621)
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
Due: none

Use dotnet-solution-ci 7.3.2
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Connect Post Office to VNET (#472)
  .editorconfig
  .github/workflows/ci.yml
  build/infrastructure/main/cosmos-postoffice.tf
  build/infrastructure/main/func-marketoperator.tf
  build/infrastructure/main/func-operations.tf
  build/infrastructure/main/func-subdomain.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/providers.tf
Due: none

Fixing missing TF in health check.
  build/infrastructure/main/func-operations.tf
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
Due: none

Fixes after merge
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IMarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekAggregationsFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekMasterDataFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekTimeSeriesFunction.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/BaseTemplate.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/CimArrayElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/CimBoolValueElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/CimIntValueElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/CimObjectElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/CimStringValueElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/ICimElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Factories/CimJsonElementFactory.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Reader/CimXmlReader.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Reader/ICimXmlReader.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Reader/NodeType.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/RSM021ConfirmRequestChangeAP.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/RSM021RejectRequestChangeAP.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/RSM031NotifyBillingMasterData.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/RSM033ConfirmRequestChangePricelist.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/RSM033RejectRequestChangePricelist.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/SequenceNumberRepository.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/Rules/GlobalLocationNumberValidationRuleTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/Rules/UuidValidationRuleTests.cs
Due: unit, integration

Fixing missing TF in health check. (#624)
  build/infrastructure/main/func-operations.tf
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
Due: none

using new keyvault_app_settings variable
  build/infrastructure/main/func-marketoperator.tf
Due: none

Updated with threadsafe and optimized json conversion classes
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/BaseTemplate.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/CimArrayElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/CimObjectElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/Containers/CimArrayElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/Containers/CimObjectElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/Interfaces/ICimElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/Interfaces/ICimValueElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/ValueElements/CimBoolValueElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/ValueElements/CimIntValueElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/ValueElements/CimObjectValueElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/ValueElements/CimObjectWithCodingSchemeElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Elements/ValueElements/CimStringValueElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Factories/CimJsonElementFactory.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Helpers/ElementNamesHelper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Reader/CimXmlReader.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Reader/ICimXmlReader.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/RSM021ConfirmRequestChangeAP.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/RSM021RejectRequestChangeAP.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/RSM031NotifyBillingMasterData.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/RSM033ConfirmRequestChangePricelist.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/RSM033RejectRequestChangePricelist.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
Due: integration

Create cosmos-drawer-implementation.md
  docs/cosmos-drawer-implementation.md
Due: none

Added table, fixed spacing.
  docs/cosmos-drawer-implementation.md
Due: none

Updated wordlist.
  docs/cosmos-drawer-implementation.md
  wordlist.txt
Due: none

Spelling fixes.
  docs/Contracts.md
  docs/cosmos-drawer-implementation.md
  wordlist.txt
Due: none

Spelling.
  README.md
  docs/cosmos-drawer-implementation.md
Due: none

Fixed casing.
  README.md
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.PostOffice.Application/, source/Energinet.DataHub.PostOffice.Domain/, source/Energinet.DataHub.PostOffice.Tests/
  integration: any of: source/Energinet.DataHub.PostOffice.Tests/, source/Energinet.DataHub.PostOffice.Common/, source/Energinet.DataHub.PostOffice.Inbound/, source/Energinet.DataHub.PostOffice.Outbound/, source/Energinet.DataHub.PostOffice.Infrastructure/
