Repository Energinet-DataHub/ARCHIVED-geh-post-office: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Updated Nuget Package to fix compile error
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-06.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.1.0.0-CI-06.nupkg
Due: unit, integration

Upgraded NugetPackage
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  samples/SubDomain/GetMessage/GetMessage.csproj
  samples/SubDomain/GetMessage/Program.cs
  source/PostOffice.Communicator.SimpleInjector/source/PostOffice.Communicator.SimpleInjector/PostOffice.Communicator.SimpleInjector.csproj
Due: none

Extract GetConfig method
  source/PostOffice.Communicator.SimpleInjector/source/PostOffice.Communicator.SimpleInjector/ContainerExtensions.cs
  source/PostOffice.Communicator.Tests/Storage/StorageHandlerTests.cs
Due: none

Remove analyzers from package
  Directory.Build.props
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
  source/PostOffice.Communicator.SimpleInjector/source/PostOffice.Communicator.SimpleInjector/PostOffice.Communicator.SimpleInjector.csproj
  source/PostOffice.Communicator/source/PostOffice.Communicator/PostOffice.Communicator.csproj
Due: unit, integration

Update package
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/PostOffice.Communicator.SimpleInjector/source/PostOffice.Communicator.SimpleInjector/PostOffice.Communicator.SimpleInjector.csproj
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-07.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.1.0.0-CI-07.nupkg
Due: unit, integration

Move DomainOrigin from Ctor to method in DataBundleResponseSender
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  samples/SubDomain/GetMessage/Functions/ReplyToRequestFromPostOffice.cs
  samples/SubDomain/GetMessage/GetMessage.csproj
  samples/SubDomain/GetMessage/Program.cs
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/PostOffice.Communicator.SimpleInjector/source/PostOffice.Communicator.SimpleInjector/PostOffice.Communicator.SimpleInjector.csproj
  source/PostOffice.Communicator.Tests/Peek/DataBundleResponseSenderTests.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/DataBundleResponseSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/IDataBundleResponseSender.cs
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-07.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.1.0.0-CI-07.nupkg
Due: unit, integration

Remove current version
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-07.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.1.0.0-CI-07.nupkg
Due: none

Updated package
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-08.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.1.0.0-CI-08.nupkg
Due: unit, integration

Wrong version in SimpleInjector package
  source/PostOffice.Communicator.SimpleInjector/source/PostOffice.Communicator.SimpleInjector/PostOffice.Communicator.SimpleInjector.csproj
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-08.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.1.0.0-CI-08.nupkg
Due: none

updated with new response type for TryAddNextUnacknowledgedAsync
  source/Energinet.DataHub.PostOffice.Common/Extensions/ExceptionExtensions.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/BundleCreatedResponse.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IBundleRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/BundleDocument.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/BundleMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/CosmosTestIntegration.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
Due: unit, integration

Added test for validation error for DataAnnotationException
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/ExceptionExtensionsTests.cs
Due: unit, integration

M ../Directory.Build.props M poor-man-package-sharing/Energinet.DataHub.MessageHub.Client.1.0.1.nupkg M poor-man-package-sharing/Energinet.DataHub.MessageHub.Client.SimpleInjector.1.0.1.nupkg
  Directory.Build.props
  source/poor-man-package-sharing/Energinet.DataHub.MessageHub.Client.1.0.1.nupkg
  source/poor-man-package-sharing/Energinet.DataHub.MessageHub.Client.SimpleInjector.1.0.1.nupkg
Due: none

Corrected UTs
  source/Energinet.DataHub.PostOffice.Domain/Services/IMarketOperatorDataStorageService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Model/AzureBlobBundleContent.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/BundleRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/BundleContentRequestService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/MarketOperatorDataStorageService.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedServiceBusClient.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/StreamTestExtensions.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/DequeueIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/PeekIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
Due: unit, integration

Missed some newlines
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
Due: unit, integration

PR Test
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
Due: none

Initial implmentation
  source/PostOffice.Communicator/source/PostOffice.Communicator/DataAvailable/DataAvailableNotificationSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Dequeue/DequeueNotificationSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/DataBundleRequestSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/DataBundleResponseSender.cs
Due: none

Fixed missing imports
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/DataBundleRequestSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/DataBundleResponseSender.cs
Due: none

Updated BundleCreatedResponse enum names. Updated tests.
  source/Energinet.DataHub.PostOffice.Domain/Model/BundleCreatedResponse.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/BundleMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/ExceptionExtensionsTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
Due: unit, integration

Restarting build
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedMarketOperatorDataStorageService.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAggregationsOrTimeSeriesAzureFunctionTests.cs
Due: unit, integration

added test for BundleIdAlreadyInUse -> ValidationException
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
Due: unit, integration

github workflow for publishing nuget packages
  .github/actions/publish.yml
  .github/workflows/publish-messagehub-client.yml
  source/PostOffice.Communicator.SimpleInjector/source/PostOffice.Communicator.SimpleInjector/PostOffice.Communicator.SimpleInjector.csproj
  source/PostOffice.Communicator/source/PostOffice.Communicator/PostOffice.Communicator.csproj
Due: none

D .github/actions/publish.yml M .github/workflows/publish-messagehub-client.yml
  .github/actions/publish.yml
  .github/workflows/publish-messagehub-client.yml
Due: none

A .github/actions/publish-nuget-package/action.yml M .github/workflows/publish-messagehub-client.yml
  .github/actions/publish-nuget-package/action.yml
  .github/workflows/publish-messagehub-client.yml
Due: none

A .github/workflows/publish-messagehub-client-simpleinjector.yml
  .github/workflows/publish-messagehub-client-simpleinjector.yml
Due: none

M .github/actions/publish-nuget-package/action.yml
  .github/actions/publish-nuget-package/action.yml
Due: none

edited test method, bundleid
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
Due: unit, integration

M .github/workflows/publish-messagehub-client-simpleinjector.yml
  .github/workflows/publish-messagehub-client-simpleinjector.yml
Due: none

M .github/workflows/publish-messagehub-client.yml
  .github/workflows/publish-messagehub-client.yml
Due: none

LINQ in dataavailable
  source/Energinet.DataHub.PostOffice.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Common/CosmosExtensions.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosDataAvailable.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/DataAvailableNotificationRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/IBundleRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/IDataAvailableNotificationRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
Due: integration

ENDK.DataHub.MessageHub.Client.SimpleInjector.1.0.2
  source/PostOffice.Communicator.SimpleInjector/source/PostOffice.Communicator.SimpleInjector/PostOffice.Communicator.SimpleInjector.csproj
Due: none

Added bundleid to command ruleset, added test. Exception on invalid response.
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekAggregationsOrTimeSeriesCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekAggregationsOrTimeSeriesCommandRuleSetTests.cs
Due: unit, integration

Path conditions:
  unit: any of: source/Energinet.DataHub.PostOffice.Application/, source/Energinet.DataHub.PostOffice.Domain/, source/Energinet.DataHub.PostOffice.Tests/
  integration: any of: source/Energinet.DataHub.PostOffice.Tests/, source/Energinet.DataHub.PostOffice.Common/, source/Energinet.DataHub.PostOffice.Inbound/, source/Energinet.DataHub.PostOffice.Outbound/, source/Energinet.DataHub.PostOffice.Infrastructure/
