Repository Energinet-DataHub/ARCHIVED-geh-post-office: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Move to common CorrelationId provider. (#578)
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/AuthRegistrations.cs
  source/Energinet.DataHub.PostOffice.Common/CorrelationIdMiddleware.cs
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/EntryPointTelemetryScopeMiddleware.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/ICorrelationIdProvider.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Constants.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/DequeueFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekAggregationsFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekMasterDataFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekTimeSeriesFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Program.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Correlation/CorrelationContext.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Correlation/ICorrelationContext.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Correlation/TraceContext.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/BundleContentRequestService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/CorrelationIdProvider.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedCorrelationContext.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/MarketOperatorIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/EntryPointTelemetryScopeMiddlewareTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/DequeueHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/BundledIdTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/DequeueAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAggregationsAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekMasterDataAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekTimeSeriesAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Infrastructure/BundleContentRequestServiceTests.cs
Due: unit, integration

replaced deprecated servicebus package (#579)
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Energinet.DataHub.PostOffice.EntryPoint.Operations.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Energinet.DataHub.PostOffice.EntryPoint.SubDomain.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableMessageReceiver.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableTimerTrigger.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/IDataAvailableMessageReceiver.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/SubDomain/DataAvailableTimerTriggerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/SubDomain/Functions/DataAvailableMessageReceiverTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/SubDomain/Functions/MockedMessage.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/SubDomain/MockedMessage.cs
Due: unit, integration

Test downgrade of Logging package
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator.csproj
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
Due: unit, integration

Package upgrades.
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Domain/Energinet.DataHub.PostOffice.Domain.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
Due: unit, integration

Package upgrades. (#581)
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Domain/Energinet.DataHub.PostOffice.Domain.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
Due: unit, integration

Failure description must not be null.
  source/Energinet.DataHub.MessageHub.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/DataBundleResponseErrorDto.cs
Due: none

Actually builds.
  source/Energinet.DataHub.MessageHub.Model.Tests/Model/DataBundleRequestDtoExtensionsTests.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/Peek/ResponseBundleParserTests.cs
  source/Energinet.DataHub.MessageHub.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Peek/ResponseBundleParser.cs
Due: none

Updated protobuf.
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
Due: none

Failure description must not be null. (#582)
  source/Energinet.DataHub.MessageHub.Model.Tests/Model/DataBundleRequestDtoExtensionsTests.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/Peek/ResponseBundleParserTests.cs
  source/Energinet.DataHub.MessageHub.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/DataBundleResponseErrorDto.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Peek/ResponseBundleParser.cs
Due: none

Model package upgrade.
  source/Energinet.DataHub.MessageHub.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Core/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
Due: none

Model package upgrade. (#583)
  source/Energinet.DataHub.MessageHub.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Core/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
Due: none

Model package upgrade.
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.MessageHub.IntegrationTesting/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/Energinet.DataHub.MessageHub.IntegrationTesting.csproj
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
Due: unit, integration

Model package upgrade. (#584)
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.MessageHub.IntegrationTesting/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/Energinet.DataHub.MessageHub.IntegrationTesting.csproj
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
Due: unit, integration

updated fluentvalidation package
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Application/Validation/AbstractRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/DequeueCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/GetMaximumSequenceNumberCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/InsertDataAvailableNotificationsCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekAggregationsCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekMasterDataCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekTimeSeriesCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/GlobalLocationNumberValidationRule.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/PropertyValidator.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/UuidValidationRule.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/UpdateMaximumSequenceNumberCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/Rules/GlobalLocationNumberValidationRuleTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/Rules/UuidValidationRuleTests.cs
Due: unit, integration

A source/Energinet.DataHub.PostOffice.Common/FluentValidationHelper.cs M source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Common/FluentValidationHelper.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
Due: integration

Upgrade samples to .NET 6.
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  samples/SubDomain/GetMessage/Functions/ReplyToRequestFromPostOffice.cs
  samples/SubDomain/GetMessage/GetMessage.csproj
Due: none

Upgrade samples to .NET 6. (#588)
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  samples/SubDomain/GetMessage/Functions/ReplyToRequestFromPostOffice.cs
  samples/SubDomain/GetMessage/GetMessage.csproj
Due: none

updated fluentvalidation package (#587)
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Application/Validation/AbstractRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/DequeueCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/GetMaximumSequenceNumberCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/InsertDataAvailableNotificationsCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekAggregationsCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekMasterDataCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekTimeSeriesCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/GlobalLocationNumberValidationRule.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/PropertyValidator.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/UpdateMaximumSequenceNumberCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/FluentValidationHelper.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/Rules/GlobalLocationNumberValidationRuleTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/Rules/UuidValidationRuleTests.cs
Due: unit, integration

Use monitor for timer trigger.
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableTimerTrigger.cs
Due: none

Use monitor for timer trigger. (#589)
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableTimerTrigger.cs
Due: none

Testing duplicated run of timer trigger.
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosLockOverlap.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/SequenceNumberRepository.cs
Due: integration

Fixed test.
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/SequenceNumberRepositoryIntegrationTests.cs
Due: none

Restarting PR.
  source/Energinet.DataHub.PostOffice.Domain/Services/IBundleContentRequestService.cs
Due: unit

Testing duplicate run of timer trigger (recreated PR) (#591)
  source/Energinet.DataHub.PostOffice.Domain/Services/IBundleContentRequestService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosLockOverlap.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/SequenceNumberRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/SequenceNumberRepositoryIntegrationTests.cs
Due: unit, integration

Better trigger test.
  source/Energinet.DataHub.PostOffice.Application/Handlers/MaximumSequenceNumberCommandHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/ISequenceNumberRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/SequenceNumberRepository.cs
Due: unit, integration

Better trigger test. (#593)
  source/Energinet.DataHub.PostOffice.Application/Handlers/MaximumSequenceNumberCommandHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/ISequenceNumberRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/SequenceNumberRepository.cs
Due: unit, integration

Testing trigger running once.
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableTimerTrigger.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/SequenceNumberRepository.cs
Due: integration

Testing trigger running once. (#594)
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableTimerTrigger.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/SequenceNumberRepository.cs
Due: integration

overlap test timertrigger
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/OverlapTestTimerTrigger.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
Due: none

overlap test timertrigger (#595)
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/OverlapTestTimerTrigger.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
Due: none

fix to TF validate
  build/infrastructure/main/cosmos-postoffice.tf
Due: none

fix TF validate
  build/infrastructure/main/func-marketoperator.tf
  build/infrastructure/main/func-operations.tf
  build/infrastructure/main/func-subdomain.tf
Due: none

Update OverlapTestTimerTrigger.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/OverlapTestTimerTrigger.cs
Due: none

Update OverlapTestTimerTrigger.cs (#601)
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/OverlapTestTimerTrigger.cs
Due: none

Add MD Health Check
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Monitor/HealthCheckEndpoint.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Energinet.DataHub.PostOffice.EntryPoint.Operations.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Monitor/HealthCheckEndpoint.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
Due: integration

Downgrade packages to v. 5.x.x
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/SubDomainIntegrationTestHost.cs
Due: integration

Upgrade packages to v. 6.x.x
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/SubDomainIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/ExceptionExtensionsTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
Due: unit, integration

Add health check to SubDomain
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Energinet.DataHub.PostOffice.EntryPoint.SubDomain.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Monitor/HealthCheckEndpoint.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
Due: none

updated terraform for health checks
  build/infrastructure/main/func-marketoperator.tf
  build/infrastructure/main/func-operations.tf
  build/infrastructure/main/func-subdomain.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/variables.tf
Due: none

Correct delete
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator.csproj
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.PostOffice.Application/, source/Energinet.DataHub.PostOffice.Domain/, source/Energinet.DataHub.PostOffice.Tests/
  integration: any of: source/Energinet.DataHub.PostOffice.Tests/, source/Energinet.DataHub.PostOffice.Common/, source/Energinet.DataHub.PostOffice.Inbound/, source/Energinet.DataHub.PostOffice.Outbound/, source/Energinet.DataHub.PostOffice.Infrastructure/
