Repository Energinet-DataHub/ARCHIVED-geh-post-office: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Provide names for health checks for service bus queues
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
Due: integration

Remove testing trigger
  source/Energinet.DataHub.PostOffice.Application/Handlers/MaximumSequenceNumberCommandHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/ISequenceNumberRepository.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableTimerTrigger.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/OverlapTestTimerTrigger.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosLockOverlap.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/SequenceNumberRepository.cs
Due: unit, integration

health check setup updated
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/local.settings.sample.json
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/local.settings.sample.json
Due: integration

updated terraform with health check connection string
  build/infrastructure/main/func-marketoperator.tf
  build/infrastructure/main/func-subdomain.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

added missing StartupBaseTests Configure override
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
Due: unit, integration

Removed redundant registration.
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableTimerTrigger.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
Due: none

Remove testing trigger (#603)
  source/Energinet.DataHub.PostOffice.Application/Handlers/MaximumSequenceNumberCommandHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/ISequenceNumberRepository.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableTimerTrigger.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/OverlapTestTimerTrigger.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosLockOverlap.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/SequenceNumberRepository.cs
Due: unit, integration

removed legacy query middleware
  source/Energinet.DataHub.PostOffice.Common/Auth/AuthRegistrations.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/QueryAuthenticationMiddleware.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Monitor/HealthCheckEndpoint.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
Due: integration

clean up
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
Due: none

clean up
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
Due: none

updated queue names in health check
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
Due: none

added connectionstring to tests
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/MarketOperatorIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/SubDomainIntegrationTestHost.cs
Due: none

Add MD Health Check (#602)
  build/infrastructure/main/func-marketoperator.tf
  build/infrastructure/main/func-operations.tf
  build/infrastructure/main/func-subdomain.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/variables.tf
  source/Energinet.DataHub.PostOffice.Common/Auth/AuthRegistrations.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/QueryAuthenticationMiddleware.cs
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Monitor/HealthCheckEndpoint.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/local.settings.sample.json
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Energinet.DataHub.PostOffice.EntryPoint.Operations.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Monitor/HealthCheckEndpoint.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Energinet.DataHub.PostOffice.EntryPoint.SubDomain.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Monitor/HealthCheckEndpoint.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/local.settings.sample.json
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/MarketOperatorIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/SubDomainIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Extensions/ExceptionExtensionsTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
Due: unit, integration

Added actor repository.
  source/Energinet.DataHub.PostOffice.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Actor.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/ActorId.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/ExternalActorId.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/LegacyActor.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IActorRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosActor.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/ActorMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/ActorRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/ActorRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/IActorRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/SequenceNumberRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/CosmosDbFixture.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/LocalSettings.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/ActorRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/SequenceNumberRepositoryIntegrationTests.cs
Due: unit, integration

Fixed save.
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IActorRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/ActorMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/ActorRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/ActorRepositoryIntegrationTests.cs
Due: unit, integration

Added actor repository. (#604)
  source/Energinet.DataHub.PostOffice.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Actor.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/ActorId.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/ExternalActorId.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/LegacyActor.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IActorRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosActor.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/ActorMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/ActorRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/ActorRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/IActorRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/SequenceNumberRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/CosmosDbFixture.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/LocalSettings.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/ActorRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/SequenceNumberRepositoryIntegrationTests.cs
Due: unit, integration

removed legacy health check
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Functions/HealthFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/CosmosDatabaseVerifier.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/FluentHealth.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/Health.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/ICosmosDatabaseVerifier.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/IFluentHealth.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/IHealth.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/IServiceBusQueueVerifier.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/ISqlDatabaseVerifier.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/ServiceBusQueueVerifier.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/SqlDatabaseVerifier.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
Due: none

removed legacy health check (#605)
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Functions/HealthFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/CosmosDatabaseVerifier.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/FluentHealth.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/Health.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/ICosmosDatabaseVerifier.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/IFluentHealth.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/IHealth.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/IServiceBusQueueVerifier.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/ISqlDatabaseVerifier.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/ServiceBusQueueVerifier.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/HealthCheck/SqlDatabaseVerifier.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
Due: none

Handler for updating and deleting actors.
  source/Energinet.DataHub.PostOffice.Application/Commands/DeleteActorCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/UpdateActorCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/ActorUpdatedHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/DeleteActorCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IActorRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/ActorRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/SubDomain/ActorIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/ActorRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/ActorUpdatedHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Repositories/ActorRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/DeleteActorCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: unit, integration

Trying to fix problems with arrays
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/PeekReturnTypeProvider.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Builders/General/CimJsonBuilder.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Elements/CimJsonArray.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Elements/CimJsonBaseElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Elements/ICimJsonElement.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Interfaces/General/ICimJsonAddXmlDataSource.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Reader/CimXmlReader.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Reader/ICimXmlReader.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/FluentCimJson/Reader/NodeType.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/BaseJsonTemplate.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/NotifyValidatedMeasureDataTemplate.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/RejectRequestChangeAccountingPointCharacteristicsTemplate.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/RejectRequestValidatedMeasureDataTemplate.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CIMJson/Templates/RequestChangeAccountingPointCharacteristicsTemplate.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/CimJson/TestData/Request change AP characteristics.xml
Due: unit, integration

Handler for updating and deleting actors. (#606)
  source/Energinet.DataHub.PostOffice.Application/Commands/DeleteActorCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/UpdateActorCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/ActorUpdatedHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/DeleteActorCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IActorRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/ActorRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/SubDomain/ActorIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/ActorRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/ActorUpdatedHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Repositories/ActorRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/DeleteActorCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: unit, integration

Add middleware for actor register.
  source/Energinet.DataHub.PostOffice.Common/Auth/ActorRegistryProvider.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/AuthRegistrations.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/JwtAuthenticationMiddleware.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/LegacyActorProvider.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/LegacyActorProviderProxy.cs
  source/Energinet.DataHub.PostOffice.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Model/LegacyActorIdIdentity.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/LegacyBundleRepositoryProxy.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/LegacyDataAvailableNotificationRepositoryProxy.cs
Due: integration

Updated tests.
  source/Energinet.DataHub.PostOffice.Common/Auth/LegacyActorProviderProxy.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Auth/ActorRegistryProviderTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Auth/JwtAuthenticationMiddlewareTests.cs
Due: unit, integration

Moved registration to base.
  source/Energinet.DataHub.PostOffice.Common/Auth/AuthRegistrations.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
Due: integration

Wrong registration.
  source/Energinet.DataHub.PostOffice.Common/RepositoryRegistration.cs
Due: integration

Add middleware for actor register. (#608)
  source/Energinet.DataHub.PostOffice.Common/Auth/ActorRegistryProvider.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/AuthRegistrations.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/JwtAuthenticationMiddleware.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/LegacyActorProvider.cs
  source/Energinet.DataHub.PostOffice.Common/Auth/LegacyActorProviderProxy.cs
  source/Energinet.DataHub.PostOffice.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Model/LegacyActorIdIdentity.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/LegacyBundleRepositoryProxy.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/LegacyDataAvailableNotificationRepositoryProxy.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Auth/ActorRegistryProviderTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Auth/JwtAuthenticationMiddlewareTests.cs
Due: unit, integration

Added Actor table to Cosmos.
  build/infrastructure/main/cosmos-postoffice.tf
Due: none

Added Actor table to Cosmos. (#609)
  build/infrastructure/main/cosmos-postoffice.tf
Due: none

Fixed broken UT and Auth middleware.
  source/Energinet.DataHub.PostOffice.Common/Auth/JwtAuthenticationMiddleware.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Auth/JwtAuthenticationMiddlewareTests.cs
Due: unit, integration

Fixed broken UT and Auth middleware. (#610)
  source/Energinet.DataHub.PostOffice.Common/Auth/JwtAuthenticationMiddleware.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Auth/JwtAuthenticationMiddlewareTests.cs
Due: unit, integration

Update package with ActorId.
  source/Energinet.DataHub.MessageHub.Model.Tests/DataAvailable/DataAvailableNotificationParserTests.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/Dequeue/DequeueNotificationParserTests.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/Model/DataBundleRequestDtoExtensionsTests.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/Peek/RequestBundleParserTests.cs
  source/Energinet.DataHub.MessageHub.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/DataAvailable/DataAvailableNotificationParser.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Dequeue/DequeueNotificationParser.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/ActorIdDto.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/DataAvailableNotificationDto.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/DataBundleRequestDto.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/LegacyActorIdDto.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/MessageTypeDto.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Peek/RequestBundleParser.cs
Due: none

Update Core and Client packages with ActorId.
  source/Energinet.DataHub.MessageHub.Client.Tests/DataAvailable/DataAvailableNotificationSenderTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Peek/DataBundleResponseSenderTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Storage/StorageHandlerTests.cs
  source/Energinet.DataHub.MessageHub.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/DataAvailable/DataAvailableNotificationSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Core.Tests/Dequeue/DequeueNotificationSenderTests.cs
  source/Energinet.DataHub.MessageHub.Core.Tests/Peek/DataBundleRequestSenderTests.cs
  source/Energinet.DataHub.MessageHub.Core/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Dequeue/DequeueNotificationSender.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
Due: none

Added ingestion of actors.
  source/Energinet.DataHub.PostOffice.Application/Commands/DeleteActorCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Commands/UpdateActorCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Application/Handlers/ActorUpdatedHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/DeleteActorCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/ServiceBusRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/local.settings.sample.json
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Energinet.DataHub.PostOffice.EntryPoint.Operations.csproj
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Functions/DequeueCleanUpFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Functions/MarketParticipantIngestionFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/local.settings.sample.json
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Functions/DataAvailableTimerTrigger.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Startup.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/local.settings.sample.json
  source/Energinet.DataHub.PostOffice.Infrastructure/DataAvailableServiceBusConfig.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/MarketParticipantServiceBusConfig.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Services/BundleContentRequestService.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedGln.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/Operations/ActorIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/OperationsIntegrationHost.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/ServiceBusRegistrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/ActorUpdatedHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/Operations/MarketParticipantIngestionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/SubDomain/DataAvailableTimerTriggerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Infrastructure/MarketParticipantServiceBusConfigTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Infrastructure/ServiceBusConfigTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/DeleteActorCommandRuleSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: unit, integration

Testing TF
  build/infrastructure/main/func-marketoperator.tf
  build/infrastructure/main/func-operations.tf
  build/infrastructure/main/func-subdomain.tf
  source/Energinet.DataHub.PostOffice.EntryPoint.Operations/local.settings.sample.json
  source/Energinet.DataHub.PostOffice.IntegrationTests/OperationsIntegrationHost.cs
Due: none

Added shared ressources.
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Wrong ressource name.
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Update package with ActorId. (#612)
  source/Energinet.DataHub.MessageHub.Model.Tests/DataAvailable/DataAvailableNotificationParserTests.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/Dequeue/DequeueNotificationParserTests.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/Model/DataBundleRequestDtoExtensionsTests.cs
  source/Energinet.DataHub.MessageHub.Model.Tests/Peek/RequestBundleParserTests.cs
  source/Energinet.DataHub.MessageHub.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/DataAvailable/DataAvailableNotificationParser.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Dequeue/DequeueNotificationParser.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Energinet.DataHub.MessageHub.Model.csproj
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/ActorIdDto.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/DataAvailableNotificationDto.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/DataBundleRequestDto.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/LegacyActorIdDto.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/MessageTypeDto.cs
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Peek/RequestBundleParser.cs
Due: none

Update to final version.
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.PostOffice.Application/, source/Energinet.DataHub.PostOffice.Domain/, source/Energinet.DataHub.PostOffice.Tests/
  integration: any of: source/Energinet.DataHub.PostOffice.Tests/, source/Energinet.DataHub.PostOffice.Common/, source/Energinet.DataHub.PostOffice.Inbound/, source/Energinet.DataHub.PostOffice.Outbound/, source/Energinet.DataHub.PostOffice.Infrastructure/
