Repository Energinet-DataHub/ARCHIVED-geh-post-office: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Create cosmos-drawer-implementation.md (#627)
  README.md
  docs/Contracts.md
  docs/cosmos-drawer-implementation.md
  wordlist.txt
Due: none

bumped nuget package to 3.0.0 and use messagetypedto & actoriddto
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/Energinet.DataHub.MessageHub.IntegrationTesting.csproj
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/MessageHubSimulation.cs
Due: none

Revert "bumped nuget package to 3.0.0 and use messagetypedto & actoriddto"
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/Energinet.DataHub.MessageHub.IntegrationTesting.csproj
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/MessageHubSimulation.cs
Due: none

Bumped package to 3.0.0 and converted to use messagetypedto and actoriddto
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/Energinet.DataHub.MessageHub.IntegrationTesting.csproj
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/MessageHubSimulation.cs
Due: none

fix all app settings possible
  build/infrastructure/main/func-marketoperator.tf
  build/infrastructure/main/func-operations.tf
  build/infrastructure/main/func-subdomain.tf
  build/infrastructure/main/kv-shared-access-policies.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

commit
  source/Energinet.DataHub.MessageHub.IntegrationTesting/source/Energinet.DataHub.MessageHub.IntegrationTesting/Energinet.DataHub.MessageHub.IntegrationTesting.csproj
Due: none

Use Key vault references in app settings (#637)
  build/infrastructure/main/func-marketoperator.tf
  build/infrastructure/main/func-operations.tf
  build/infrastructure/main/func-subdomain.tf
  build/infrastructure/main/kv-shared-access-policies.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

removed feature_send_messagetype_header flag
  build/infrastructure/env/b-001/locals_override.tf
  build/infrastructure/env/b-002/locals_override.tf
  build/infrastructure/env/t-001/locals_override.tf
  build/infrastructure/env/u-001/locals_override.tf
  build/infrastructure/main/func-marketoperator.tf
  build/infrastructure/main/locals.tf
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekAggregationsFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekMasterDataFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekTimeSeriesFunction.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/BundledIdTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAggregationsAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekMasterDataAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekTimeSeriesAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Utilities/Feature.cs
Due: unit, integration

removed empty locals_override.tf's
  build/infrastructure/env/b-001/locals_override.tf
  build/infrastructure/env/b-002/locals_override.tf
  build/infrastructure/env/t-001/locals_override.tf
  build/infrastructure/env/u-001/locals_override.tf
Due: none

removed feature_send_messagetype_header flag (#648)
  build/infrastructure/env/b-001/locals_override.tf
  build/infrastructure/env/b-002/locals_override.tf
  build/infrastructure/env/t-001/locals_override.tf
  build/infrastructure/env/u-001/locals_override.tf
  build/infrastructure/main/func-marketoperator.tf
  build/infrastructure/main/locals.tf
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekAggregationsFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekMasterDataFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekTimeSeriesFunction.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/BundledIdTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAggregationsAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekMasterDataAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekTimeSeriesAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Utilities/Feature.cs
Due: unit, integration

updated readme actor endpoints
  README.md
Due: none

changes
  README.md
  wordlist.txt
Due: none

md lint
  README.md
Due: none

typo
  README.md
Due: none

updated readme actor endpoints (#649)
  README.md
  wordlist.txt
Due: none

Possible fix for peek witrh actorId
  source/Energinet.DataHub.PostOffice.Common/Auth/ActorRegistryProvider.cs
Due: integration

Fix failing test
  source/Energinet.DataHub.PostOffice.Tests/Common/Auth/ActorRegistryProviderTests.cs
Due: unit, integration

Possible fix for peek witrh actorId (#653)
  source/Energinet.DataHub.PostOffice.Common/Auth/ActorRegistryProvider.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Auth/ActorRegistryProviderTests.cs
Due: unit, integration

upgraded
  .github/workflows/ci.yml
  build/infrastructure/main/.terraform-version
  build/infrastructure/main/cosmos-postoffice.tf
  build/infrastructure/main/func-marketoperator.tf
  build/infrastructure/main/func-operations.tf
  build/infrastructure/main/func-subdomain.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/providers.tf
Due: none

Revert Previous change to ActorId
  source/Energinet.DataHub.PostOffice.Common/Auth/ActorRegistryProvider.cs
Due: integration

Revert Test
  source/Energinet.DataHub.PostOffice.Tests/Common/Auth/ActorRegistryProviderTests.cs
Due: unit, integration

bumb .github references
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Upgrade TF provider (#654)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  build/infrastructure/main/.terraform-version
  build/infrastructure/main/cosmos-postoffice.tf
  build/infrastructure/main/func-marketoperator.tf
  build/infrastructure/main/func-operations.tf
  build/infrastructure/main/func-subdomain.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/providers.tf
Due: none

Revert Previous change to ActorId (#655)
  source/Energinet.DataHub.PostOffice.Common/Auth/ActorRegistryProvider.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/Auth/ActorRegistryProviderTests.cs
Due: unit, integration

refac: Update MessageHub to Wholesale.
  build/infrastructure/main/func-subdomain.tf
Due: none

refac: Update MessageHub to Wholesale. (#658)
  build/infrastructure/main/func-subdomain.tf
Due: none

refac: Actually update MessageHub to Wholesale.
  build/infrastructure/main/func-marketoperator.tf
  build/infrastructure/main/func-subdomain.tf
Due: none

refac: Actually update MessageHub to Wholesale. (#659)
  build/infrastructure/main/func-marketoperator.tf
  build/infrastructure/main/func-subdomain.tf
Due: none

Add wholesale domain origin
  source/Energinet.DataHub.MessageHub.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/DomainOrigin.cs
Due: none

Rename aggregations to wholesale
  source/Energinet.DataHub.MessageHub.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MessageHub.Model/source/Energinet.DataHub.MessageHub.Model/Model/DomainOrigin.cs
Due: none

Update CI Workflow
  .github/actions/dotnet-prepare-outputs/action.yml
  .github/actions/publish-release-contents/action.yml
  .github/workflows/ci.yml
Due: none

Update .Net version
  .github/workflows/ci.yml
Due: none

Updated paths and names for artifacts
  .github/actions/dotnet-prepare-outputs/action.yml
Due: none

Update CI Workflow (#662)
  .github/actions/dotnet-prepare-outputs/action.yml
  .github/actions/publish-release-contents/action.yml
  .github/workflows/ci.yml
Due: none

use oidc in ci+cd
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Use OIDC in CI and CD (#663)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Update github actions versions
  .github/actions/publish-nuget-package/action.yml
  .github/workflows/publish-messagehub-client-simpleinjector.yml
  .github/workflows/publish-messagehub-client.yml
  .github/workflows/publish-messagehub-core.yml
  .github/workflows/publish-messagehub-integrationtesting.yml
  .github/workflows/publish-messagehub-model.yml
Due: none

OperationTimestamp is now instant
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Extensions/ServiceBusMessageExtensions.cs
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Energinet.DataHub.MessageHub.Core.csproj
  source/Energinet.DataHub.MessageHub.Core/source/Energinet.DataHub.MessageHub.Core/Extensions/ServiceBusMessageExtensions.cs
Due: none

update core and client package
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
Due: unit, integration

Path conditions:
  unit: any of: source/Energinet.DataHub.PostOffice.Application/, source/Energinet.DataHub.PostOffice.Domain/, source/Energinet.DataHub.PostOffice.Tests/
  integration: any of: source/Energinet.DataHub.PostOffice.Tests/, source/Energinet.DataHub.PostOffice.Common/, source/Energinet.DataHub.PostOffice.Inbound/, source/Energinet.DataHub.PostOffice.Outbound/, source/Energinet.DataHub.PostOffice.Infrastructure/
