Repository Energinet-DataHub/ARCHIVED-geh-post-office: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Peek Charges endpoint
  source/Energinet.DataHub.PostOffice.Application/Commands/PeekChargesCommand.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekChargesCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/IMarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Functions/PeekChargesFunction.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Startup.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/PeekIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Hosts/MarketOperator/PeekChargesAzureFunctionTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/PeekChargesCommandRuleSetTests.cs
Due: unit, integration

Start of logging
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Common/CosmosDbRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.PostOffice.Domain/Energinet.DataHub.PostOffice.Domain.csproj
  source/Energinet.DataHub.PostOffice.Domain/Model/Logging/Log.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Logging/Reply.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/ILogRepository.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/local.settings.sample.json
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/BundleRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/ILogRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/LogRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/LogRepository.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
Due: unit, integration

Almost ready to use. Missing automated tests
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/ILogRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Model/CosmosLog.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/LogRepository.cs
Due: unit, integration

changed nuget package prefix form ENDK to Energinet
  source/PostOffice.Communicator.SimpleInjector/source/PostOffice.Communicator.SimpleInjector/PostOffice.Communicator.SimpleInjector.csproj
  source/PostOffice.Communicator/source/PostOffice.Communicator/PostOffice.Communicator.csproj
Due: none

adding missing supportsBundling mapping for cosmosdocument.
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
Due: integration

Fixed protobuf contracts namespace
  source/PostOffice.Communicator/source/PostOffice.Communicator/Protobuf/DataAvailableNotificationContract.proto
  source/PostOffice.Communicator/source/PostOffice.Communicator/Protobuf/DataBundleRequestContract.proto
  source/PostOffice.Communicator/source/PostOffice.Communicator/Protobuf/DataBundleResponseContract.proto
  source/PostOffice.Communicator/source/PostOffice.Communicator/Protobuf/DequeueContract.proto
Due: none

Fixed protobuf contracts namespace
  source/PostOffice.Communicator.Tests/DataAvailable/DataAvailableNotificationParserTests.cs
  source/PostOffice.Communicator.Tests/Dequeue/DequeueNotificationParserTests.cs
  source/PostOffice.Communicator.Tests/Peek/DataBundleRequestSenderTests.cs
  source/PostOffice.Communicator.Tests/Peek/RequestBundleParserTests.cs
  source/PostOffice.Communicator.Tests/Peek/ResponseBundleParserTests.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/DataAvailable/DataAvailableNotificationParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/DataAvailable/DataAvailableNotificationSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Dequeue/DequeueNotificationParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Dequeue/DequeueNotificationSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/RequestBundleParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/ResponseBundleParser.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/PostOffice.Communicator.csproj
Due: none

update package refs
  samples/SubDomain/DataAvailable/DataAvailableNotification.csproj
  samples/SubDomain/DataAvailable/DataAvailableNotificationFactory.cs
  samples/SubDomain/DataAvailable/Program.cs
  samples/SubDomain/GetMessage/Functions/ReplyToDequeueFromPostOffice.cs
  samples/SubDomain/GetMessage/Functions/ReplyToRequestFromPostOffice.cs
  samples/SubDomain/GetMessage/GetMessage.csproj
  samples/SubDomain/GetMessage/Program.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedServiceBusClient.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/poor-man-package-sharing/Energinet.DataHub.MessageHub.Client.1.0.0.nupkg
  source/poor-man-package-sharing/Energinet.DataHub.MessageHub.Client.1.0.1.nupkg
  source/poor-man-package-sharing/Energinet.DataHub.MessageHub.Client.SimpleInjector.1.0.0.nupkg
  source/poor-man-package-sharing/Energinet.DataHub.MessageHub.Client.SimpleInjector.1.0.1.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-01.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-02.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-03.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-04.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-05.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-06.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-07.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-08.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.1.0.0-CI-02.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.1.0.0-CI-03.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.1.0.0-CI-04.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.1.0.0-CI-05.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.1.0.0-CI-06.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.1.0.0-CI-07.nupkg
  source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.1.0.0-CI-08.nupkg
Due: none

M source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedServiceBusClient.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedServiceBusClient.cs
Due: none

M Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
Due: none

Better readability
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
Due: unit

UTs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosDataAvailable.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/DataAvailableNotificationRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Repositories/BundleRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Repositories/DataAvailableNotificationRepositoryTests.cs
Due: unit, integration

Add integration test
  source/Energinet.DataHub.PostOffice.Application/Handlers/DequeueHandler.cs
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/IBundleContent.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Logging/Log.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Model/AzureBlobBundleContent.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/LogRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/CosmosTestIntegration.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/LogRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/DequeueHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
Due: unit, integration

M publish-messagehub-client-simpleinjector.yml M publish-messagehub-client.yml
  .github/workflows/publish-messagehub-client-simpleinjector.yml
  .github/workflows/publish-messagehub-client.yml
Due: none

Solve merge conflicts
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedServiceBusClient.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
Due: unit, integration

UTs til DataAvailable
  source/Energinet.DataHub.PostOffice.Domain/Energinet.DataHub.PostOffice.Domain.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/DataAvailableNotificationRepositoryTests.cs
Due: unit

bumped package versions
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
Due: none

fixed packages descs
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
Due: none

Updated BundleRepo to use LINQ
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IBundleRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosBundleDocument.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosDataAvailable.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Mappers/BundleMapper.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Repositories/BundleRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
Due: unit, integration

M Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj M ../../../Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
Due: none

Bugfixes
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosDataAvailable.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
Due: integration

Added integration events methods
  source/PostOffice.Communicator.Tests/DataAvailable/DataAvailableNotificationSenderTests.cs
  source/PostOffice.Communicator.Tests/Dequeue/DequeueNotificationSenderTests.cs
  source/PostOffice.Communicator.Tests/Peek/DataBundleRequestSenderTests.cs
  source/PostOffice.Communicator.Tests/Peek/DataBundleResponseSenderTests.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/DataAvailable/DataAvailableNotificationSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Dequeue/DequeueNotificationSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Extensions/ServiceBusMessageExtensions.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/IntegrationEvents/IntegrationEventMessageType.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/DataBundleRequestSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/DataBundleResponseSender.cs
  source/PostOffice.Communicator/source/PostOffice.Communicator/Peek/IDataBundleResponseSender.cs
Due: none

Fix after merge
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Extensions/ServiceBusMessageExtensions.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/IntegrationEvents/IntegrationEventMessageType.cs
Due: none

Delted misplaced file
  source/PostOffice.Communicator/source/PostOffice.Communicator/IntegrationEvents/IntegrationEventMessageType.cs
Due: none

Added null-ref UT
  source/Energinet.DataHub.PostOffice.Tests/Repositories/BundleRepositoryTests.cs
Due: unit, integration

Fixed failing tests
  source/Energinet.DataHub.MessageHub.Client.Tests/Peek/DataBundleResponseSenderTests.cs
Due: none

Changes after code review
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Extensions/ServiceBusMessageExtensions.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/IntegrationEvents/IntegrationEventMessageType.cs
Due: none

Recipient in dataavailable
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Documents/CosmosDataAvailable.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/BundleRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/BundleRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/DataAvailableNotificationRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Repositories/DataAvailableNotificationRepositoryTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
Due: unit, integration

Changed so that ResponseSender takes a Request DTO as param.
  source/Energinet.DataHub.MessageHub.Client.Tests/Peek/DataBundleResponseSenderTests.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/DataBundleResponseSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/IDataBundleResponseSender.cs
Due: none

Changed param check exception ArgumentNullException
  source/Energinet.DataHub.MessageHub.Client.Tests/Peek/DataBundleResponseSenderTests.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/DataBundleResponseSender.cs
Due: none

Now removed message that doesn't make sense
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/DataBundleResponseSender.cs
Due: none

Removed unused variable
  source/Energinet.DataHub.MessageHub.Client.Tests/Peek/DataBundleRequestSenderTests.cs
Due: none

Rename package using
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Energinet.DataHub.PostOffice.Domain.csproj
  source/Energinet.DataHub.PostOffice.Domain/Model/Logging/Reply.cs
Due: unit

changed naming of blob resource to override on exists.
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Storage/StorageHandler.cs
Due: none

clean up
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Storage/StorageHandler.cs
Due: none

Changes after code review
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Extensions/ServiceBusMessageExtensions.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/DataBundleRequestSender.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/DataBundleResponseSender.cs
Due: none

Resolve merge conflicts
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Domain/Energinet.DataHub.PostOffice.Domain.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/DataAvailableNotificationRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Common/MockedServiceBusClient.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
Due: unit, integration

Make sure integration tests run in same collection.
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/LogRepositoryIntegrationTests.cs
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.PostOffice.Application/, source/Energinet.DataHub.PostOffice.Domain/, source/Energinet.DataHub.PostOffice.Tests/
  integration: any of: source/Energinet.DataHub.PostOffice.Tests/, source/Energinet.DataHub.PostOffice.Common/, source/Energinet.DataHub.PostOffice.Inbound/, source/Energinet.DataHub.PostOffice.Outbound/, source/Energinet.DataHub.PostOffice.Infrastructure/
