Repository Energinet-DataHub/ARCHIVED-geh-post-office: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Add tests
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Logging/PeekAggregationsLog.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Logging/PeekTimeseriesLog.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/ProcessId.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/LogRepositoryIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/DequeueHandlerTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/PeekHandlerTests.cs
Due: unit, integration

Solve merge conflicts
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/BundleRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Tests/Handlers/DequeueHandlerTests.cs
Due: unit, integration

Changes according to PR feedback
  source/Energinet.DataHub.PostOffice.Application/Handlers/PeekHandler.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/IBundleContent.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Logging/DequeueLog.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/Logging/IProviderLogIdentifier.cs
  source/Energinet.DataHub.PostOffice.Domain/Model/ProcessId.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/LogRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/LogRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/LogRepositoryIntegrationTests.cs
Due: unit, integration

updated tf for peek, dataavailable settings needed in startup.
  build/infrastructure/main/azfun-marketoperator-peek.tf
Due: none

Let's try again
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/ILogRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/Containers/LogRepositoryContainer.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/LogRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/CosmosTestIntegration.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/LogRepositoryIntegrationTests.cs
Due: integration

Replaced GreenEnergyHub.Messaging with simpler impl. and removed some dead code.
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/GlobalLocationNumberValidationRule.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/PropertyValidator`1.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/UuidValidationRule.cs
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/Extensions/ServiceCollectionValidationExtension.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
  source/Energinet.DataHub.PostOffice.Tests/Tooling/RuleCollectionTester.cs
  source/Energinet.DataHub.PostOffice.Tests/Tooling/RuleCollectionTester`2.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/Rules/GlobalLocationNumberValidationRuleTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Validation/Rules/UuidValidationRuleTests.cs
  source/poor-man-package-sharing/GreenEnergyHub.Messaging.dll
  source/poor-man-package-sharing/GreenEnergyHub.Messaging.xml
Due: unit, integration

Terraform for Cosmos DB log
  build/infrastructure/main/cosmos-log.tf
Due: none

use shared post office storage instead of local
  build/infrastructure/main/azfun-marketoperator-dequeue.tf
  build/infrastructure/main/azfun-marketoperator-peek.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/stor-marketoperator-response.tf
Due: none

Custom error codes for build in PropertyValidators
  source/Energinet.DataHub.PostOffice.Application/Validation/AbstractValidatorBase.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/DataAvailableNotificationCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/DequeueCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekAggregationsCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/PeekTimeSeriesCommandRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/GlobalLocationNumberValidationRule.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/PropertyValidator.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/PropertyValidator`1.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/Rules/UuidValidationRule.cs
Due: unit

removed nuget.config
  source/nuget.config
Due: none

Initial attempt
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/WeightCalculatorDomainService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/DataAvailableNotificationRepositoryTests.cs
Due: unit, integration

M Energinet.DataHub.PostOffice.Application/Validation/AbstractRuleSet.cs
  source/Energinet.DataHub.PostOffice.Application/Validation/AbstractRuleSet.cs
Due: unit

PeekIntegrationTests
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Hosts/MarketOperator/PeekIntegrationTests.cs
Due: unit, integration

DataAvailableNotificationRepositoryTests
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/DataAvailableNotificationRepositoryTests.cs
Due: unit, integration

MarketOperatorDataDomainServiceTests
  source/Energinet.DataHub.PostOffice.Domain/Model/DataAvailableNotification.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/MarketOperatorDataDomainServiceTests.cs
Due: unit, integration

adding application insights telemetry to StartupBase.cs
  samples/SubDomain/DataAvailable/DataAvailableNotificationFactory.cs
  samples/SubDomain/DataAvailable/GlnHelper.cs
  samples/SubDomain/DataAvailable/Program.cs
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
Due: integration

Remove unused proj reference
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
Due: unit

WeightCalculatorDomainServiceTests
  source/Energinet.DataHub.PostOffice.Tests/Services/Domain/WeightCalculatorDomainServiceTests.cs
Due: unit, integration

Patch config for container name
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Storage/StorageHandler.cs
Due: none

Fixed remaining old naming in package and added som missing unit tests
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/ContainerExtensions.cs
  source/Energinet.DataHub.MessageHub.Client.SimpleInjector/source/Energinet.DataHub.MessageHub.Client.SimpleInjector/Energinet.DataHub.MessageHub.Client.SimpleInjector.csproj
  source/Energinet.DataHub.MessageHub.Client.Tests/DataAvailable/DataAvailableNotificationParserTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Dequeue/DequeueNotificationParserTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Exceptions/ExceptionTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Model/DataBundleRequestDtoExtensionsTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Peek/RequestBundleParserTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Peek/ResponseBundleParserTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Storage/StorageHandlerTests.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/DataAvailable/DataAvailableNotificationParser.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/DataAvailable/IDataAvailableNotificationParser.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Dequeue/DequeueNotificationParser.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Dequeue/IDequeueNotificationParser.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Energinet.DataHub.MessageHub.Client.csproj
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Exceptions/MessageHubException.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Exceptions/MessageHubStorageException.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/IRequestBundleParser.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/IResponseBundleParser.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/RequestBundleParser.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Peek/ResponseBundleParser.cs
  source/Energinet.DataHub.MessageHub.Client/source/Energinet.DataHub.MessageHub.Client/Storage/StorageHandler.cs
Due: none

M source/Energinet.DataHub.MessageHub.Client.Tests/Exceptions/ExceptionTests.cs M source/Energinet.DataHub.MessageHub.Client.Tests/Model/DataBundleRequestDtoExtensionsTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Exceptions/ExceptionTests.cs
  source/Energinet.DataHub.MessageHub.Client.Tests/Model/DataBundleRequestDtoExtensionsTests.cs
Due: none

Adding middleware for adding telemetry with processId dependency tracking
  source/Energinet.DataHub.PostOffice.Common/EntryPointTelemetryScopeMiddleware.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/Program.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.SubDomain/Program.cs
Due: integration

Adding missing UTs
  source/Energinet.DataHub.MessageHub.Client.Tests/Peek/DataBundleRequestSenderTests.cs
Due: none

A source/Energinet.DataHub.PostOffice.Tests/Infrastructure/Services/MarketOperatorDataStorageServiceTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Infrastructure/Services/MarketOperatorDataStorageServiceTests.cs
Due: unit, integration

M source/Energinet.DataHub.PostOffice.Common/InfrastructureServiceRegistration.cs A source/Energinet.DataHub.PostOffice.Tests/Common/InfrastructureServiceRegistrationTests.cs
  source/Energinet.DataHub.PostOffice.Common/InfrastructureServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/InfrastructureServiceRegistrationTests.cs
Due: unit, integration

M package-ci.yml
  .github/workflows/package-ci.yml
Due: none

Updated the code to be more readable
  source/Energinet.DataHub.PostOffice.Domain/Model/Weight.cs
  source/Energinet.DataHub.PostOffice.EntryPoint.MarketOperator/local.settings.sample.json
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableNotificationRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Repositories/DataAvailableNotificationRepositoryTests.cs
Due: unit, integration

Read ContainerName from settings
  source/Energinet.DataHub.PostOffice.Common/AzureBlobStorageRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/InfrastructureServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Energinet.DataHub.PostOffice.Infrastructure.csproj
Due: integration

Update UTs after merge
  source/Energinet.DataHub.PostOffice.Common/AzureBlobStorageRegistration.cs
  source/Energinet.DataHub.PostOffice.Domain/Services/MarketOperatorDataDomainService.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/AzureBlobStorageRegistrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/InfrastructureServiceRegistrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
Due: unit, integration

Change to TF, merge from main
  build/infrastructure/main/azfun-marketoperator-dequeue.tf
  build/infrastructure/main/azfun-marketoperator-peek.tf
  build/infrastructure/main/azfun-subdomain.tf
Due: none

Update bundles trigger in TF
  build/infrastructure/main/cosmos-postoffice.tf
Due: none

Only initialize CosmosDb once
  source/Energinet.DataHub.PostOffice.IntegrationTests/CosmosDbFixture.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/CosmosDbFixtureConfiguration.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/MarketOperatorIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/SubDomainIntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/xunit.runner.json
  source/Energinet.DataHub.PostOffice.Tests/xunit.runner.json
Due: unit, integration

Proper escape of $
  build/infrastructure/main/cosmos-postoffice.tf
Due: none

Added changes to TF cosmos log setup
  build/infrastructure/main/azfun-marketoperator-dequeue.tf
  build/infrastructure/main/azfun-marketoperator-peek.tf
  build/infrastructure/main/azfun-subdomain.tf
  build/infrastructure/main/cosmos-log.tf
Due: none

Adding setup for ApplicationInsightTelemetry with setup for empty instrumentationkey
  source/Energinet.DataHub.PostOffice.Common/ApplicationInsightTelemetry.cs
  source/Energinet.DataHub.PostOffice.Common/EntryPointTelemetryScopeMiddleware.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
Due: integration

tf logs bugfix
  build/infrastructure/main/cosmos-log.tf
Due: none

WeightTests
  source/Energinet.DataHub.PostOffice.Tests/Model/WeightTests.cs
Due: unit, integration

More tests
  source/Energinet.DataHub.PostOffice.Tests/Model/WeightTests.cs
Due: unit, integration

Added changes til ApplicationInsightTelemetry setup
  source/Energinet.DataHub.PostOffice.Common/ApplicationInsightTelemetry.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
Due: integration

Updated StartupBaseTests
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
Due: unit, integration

Path conditions:
  unit: any of: source/Energinet.DataHub.PostOffice.Application/, source/Energinet.DataHub.PostOffice.Domain/, source/Energinet.DataHub.PostOffice.Tests/
  integration: any of: source/Energinet.DataHub.PostOffice.Tests/, source/Energinet.DataHub.PostOffice.Common/, source/Energinet.DataHub.PostOffice.Inbound/, source/Energinet.DataHub.PostOffice.Outbound/, source/Energinet.DataHub.PostOffice.Infrastructure/
