Repository Energinet-DataHub/ARCHIVED-geh-post-office: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.PostOffice.Application/
      - source/Energinet.DataHub.PostOffice.Domain/
  integration:
    paths:
      - source/Energinet.DataHub.PostOffice.Common/
      - source/Energinet.DataHub.PostOffice.Inbound/
      - source/Energinet.DataHub.PostOffice.Outbound/
      - source/Energinet.DataHub.PostOffice.Infrastructure/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Included codedov config and codecov workflow
  .github/workflows/codecov-ci.yml
Due: none

Included document mapper test with unittest-trait
  .editorconfig
  Directory.Build.props
  NOTICE.md
  source/Energinet.DataHub.PostOffice.Tests/DocumentMapperTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Energinet.DataHub.PostOffice.Tests.csproj
Due: none

Included unit tests in codecoverage
  codecov.yml
Due: none

Use filter "Category=UnitTest"
  .github/workflows/codecov-ci.yml
Due: none

updated ARCHITECTURE
  ARCHITECTURE.drawio
  ARCHITECTURE.png
Due: none

updated drawing
  ARCHITECTURE.drawio
  ARCHITECTURE.png
  ARCHITECTURE1.png
Due: none

rename drawing
  ARCHITECTURE.png
Due: none

updated architecture
  ARCHITECTURE.drawio
  ARCHITECTURE.png
Due: none

updated drawing
  ARCHITECTURE.drawio
  ARCHITECTURE.png
Due: none

updated drawing
  ARCHITECTURE.png
Due: none

Create CODEOWNERS
  .github/CODEOWNERS
Due: none

use shared github actions and new environments
  .github/workflows/infrastructure-cd.yml
  build/infrastructure/main/README.md
  build/infrastructure/main/appi-postoffice.tf
  build/infrastructure/main/azfun-inbound.tf
  build/infrastructure/main/azfun-outbound.tf
  build/infrastructure/main/backend.tf
  build/infrastructure/main/cosmos-postoffice.tf
  build/infrastructure/main/localhost.tfvars.sample
  build/infrastructure/main/locals.tf
  build/infrastructure/main/providers.tf
  build/infrastructure/main/resource-group.tf
  build/infrastructure/main/sb-inbound.tf
  build/infrastructure/main/sbt-inbound-aggregations.tf
  build/infrastructure/main/sbt-inbound-marketdata.tf
  build/infrastructure/main/sbt-inbound-timeseries.tf
  build/infrastructure/main/stor-schemas.tf
  build/infrastructure/main/variables.tf
Due: none

changed function ci/cd files to use shared actions and env
  .github/actions/azure-cli-install-login/action.yml
  .github/actions/configure-terraform-backend/action.yml
  .github/actions/dotnet-build-and-test/action.yml
  .github/workflows/inbound-cd.yml
  .github/workflows/inbound-ci.yml
  .github/workflows/infrastructure-cd.yml
  .github/workflows/outbound-cd.yml
  .github/workflows/outbound-ci.yml
  build/infrastructure/main/appi-postoffice.tf
  build/infrastructure/main/azfun-inbound.tf
  build/infrastructure/main/azfun-outbound.tf
  build/infrastructure/main/sb-inbound.tf
  build/infrastructure/main/sbt-inbound-aggregations.tf
  build/infrastructure/main/sbt-inbound-marketdata.tf
  build/infrastructure/main/sbt-inbound-timeseries.tf
  build/infrastructure/main/stor-schemas.tf
Due: none

remove trigger
  .github/workflows/infrastructure-cd.yml
Due: none

Prefer braces if multiline
  .editorconfig
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

#118 #119 Repository for DataAvailable
  source/Energinet.DataHub.PostOffice.Application/DataAvailable/DataAvailableHandler.cs
  source/Energinet.DataHub.PostOffice.Application/GetMessage/Interfaces/IDataAvailableStorageService.cs
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableRepository.cs
  source/Energinet.DataHub.PostOffice.Inbound/Program.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/GetMessage/DataAvailableController.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/GetMessage/DataAvailableStorageService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableRepository.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/IntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.Outbound/Program.cs
  source/Energinet.DataHub.PostOffice.Tests/DataAvailableTests.cs
  source/Energinet.DataHub.PostOffice.Tests/GetMessage/ContentPathStrategyTests.cs
  source/Energinet.DataHub.PostOffice.Tests/GetMessage/CurrentDataAvailableRequestSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/GetMessageTests.cs
Due: unit, integration

Removed deprecated package Microsoft.CodeAnalysis.FxCopAnalyzers. Update package StyleCop.Analyzers. Fixed minor issues and cleaned up code.
  .editorconfig
  Directory.Build.props
  Energinet.DataHub.PostOffice.sln.DotSettings
  source/Energinet.DataHub.PostOffice.Application/Energinet.DataHub.PostOffice.Application.csproj
  source/Energinet.DataHub.PostOffice.Domain/DataAvailable.cs
  source/Energinet.DataHub.PostOffice.Inbound/Functions/DataAvailableInbox.cs
  source/Energinet.DataHub.PostOffice.Inbound/Parsing/DataAvailableContractParser.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/ContentPath/GetContentPathStrategyFactory.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CosmosDataAvailableStore.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/GetMessage/DataAvailableStorageService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/GetMessage/GetPathToDataFromServiceBus.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/MessageReplyStorage/MessageReplyDictionaryStorage.cs
  source/Energinet.DataHub.PostOffice.Tests/DataAvailableTests.cs
  source/Energinet.DataHub.PostOffice.Tests/GetMessage/ContentPathStrategyTests.cs
Due: unit, integration

License
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableRepository.cs
Due: unit, integration

Year must match in license?
  source/Energinet.DataHub.PostOffice.Domain/Repositories/IDataAvailableRepository.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/Repositories/DataAvailableRepository.cs
Due: unit, integration

Added `<AnalysisMode>AllEnabledByDefault</AnalysisMode>` to editorconfig. Added package Microsoft.CodeAnalysis.NetAnalyzers. Some code cleanup.
  .editorconfig
  Directory.Build.props
  source/Energinet.DataHub.PostOffice.Application/GetMessage/Handlers/GetMessageHandler.cs
  source/Energinet.DataHub.PostOffice.Application/GetMessage/Interfaces/IDataAvailableController.cs
  source/Energinet.DataHub.PostOffice.Application/GetMessage/Interfaces/IGetContentPathStrategy.cs
  source/Energinet.DataHub.PostOffice.Application/GetMessage/Interfaces/IGetPathToDataFromServiceBus.cs
  source/Energinet.DataHub.PostOffice.Application/IDocumentStore.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/ContentPath/ContentPathFromSavedResponse.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/ContentPath/ContentPathFromSubDomain.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/ContentPath/GetContentPathStrategyFactory.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/CosmosDataAvailableStore.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/GetMessage/DataAvailableStorageService.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/MessageReplyStorage/MessageReplyTableStorage.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/IntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.Tests/GetMessage/CurrentDataAvailableRequestSetTests.cs
  source/Energinet.DataHub.PostOffice.Tests/GetMessageTests.cs
  source/Energinet.DataHub.PostOffice.Tests/IntegrationTests.cs
  source/Energinet.DataHub.PostOffice.Tests/Tooling/RunnableInDebugOnlyAttribute.cs
Due: unit, integration

Added ServiceBusConfig with key constants and null/empty string validation.
  source/Energinet.DataHub.PostOffice.Common/ServiceCollectionExtensions.cs
  source/Energinet.DataHub.PostOffice.Inbound/Functions/DataAvailableInbox.cs
  source/Energinet.DataHub.PostOffice.Inbound/Program.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/ServiceBusConfig.cs
Due: integration

change shared terraform version
  .github/workflows/infrastructure-cd.yml
Due: none

use shared publish profile
  .github/workflows/inbound-cd.yml
  .github/workflows/outbound-cd.yml
Due: none

Common StartupBase.cs and introduced SimpleInjector
  Energinet.DataHub.PostOffice.sln.DotSettings
  source/Energinet.DataHub.PostOffice.Common/Energinet.DataHub.PostOffice.Common.csproj
  source/Energinet.DataHub.PostOffice.Common/SimpleInjector/SimpleInjectorActivator.cs
  source/Energinet.DataHub.PostOffice.Common/SimpleInjector/SimpleInjectorScopedRequest.cs
  source/Energinet.DataHub.PostOffice.Common/SimpleInjector/SimpleInjectorServiceProviderAdapter.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Inbound/Energinet.DataHub.PostOffice.Inbound.csproj
  source/Energinet.DataHub.PostOffice.Inbound/Program.cs
  source/Energinet.DataHub.PostOffice.Inbound/Startup.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/IntegrationTestHost.cs
  source/Energinet.DataHub.PostOffice.Outbound/Energinet.DataHub.PostOffice.Outbound.csproj
  source/Energinet.DataHub.PostOffice.Outbound/Program.cs
  source/Energinet.DataHub.PostOffice.Outbound/Startup.cs
Due: integration

Oprydning af StartupBase.
  source/Energinet.DataHub.PostOffice.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.PostOffice.Common/StartupBase.cs
  source/Energinet.DataHub.PostOffice.Inbound/Startup.cs
Due: integration

Unit Test af IoC. Co-authored-by: Alexei Mihalchuk <aiu@energinet.dk> Co-authored-by: Michael Majgaard <michaelmajgaard@outlook.com>
  source/Energinet.DataHub.PostOffice.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.PostOffice.Infrastructure/MessageReplyStorage/MessageReplyTableStorage.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/MockedCosmosClient.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/MockedServiceBusClient.cs
  source/Energinet.DataHub.PostOffice.Tests/Common/StartupBaseTests.cs
Due: integration

InboundIntegrationTestHost using real IOC-setup from Inbound/Startup.cs
  source/Energinet.DataHub.PostOffice.Inbound/Program.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/Energinet.DataHub.PostOffice.IntegrationTests.csproj
  source/Energinet.DataHub.PostOffice.IntegrationTests/InboundIntegrationTestHost.cs
Due: integration

fixed copyright message
  source/Energinet.DataHub.PostOffice.Common/SimpleInjector/SimpleInjectorActivator.cs
  source/Energinet.DataHub.PostOffice.Common/SimpleInjector/SimpleInjectorScopedRequest.cs
  source/Energinet.DataHub.PostOffice.Common/SimpleInjector/SimpleInjectorServiceProviderAdapter.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/InboundIntegrationTestHost.cs
Due: integration

Minor cleanup
  source/Energinet.DataHub.PostOffice.Inbound/Program.cs
  source/Energinet.DataHub.PostOffice.Outbound/Program.cs
Due: integration

Azure Cosmos DB Test
  .github/workflows/inbound-ci.yml
Due: none

Cosmos
  source/Energinet.DataHub.PostOffice.IntegrationTests/InboundIntegrationTestHost.cs
Due: none

ArgumentOutOfRangeException
  source/Energinet.DataHub.PostOffice.Infrastructure/GetMessage/SendMessageToServiceBus.cs
Due: integration

async init
  source/Energinet.DataHub.PostOffice.IntegrationTests/DataAvailable/DataAvailableIntegrationTests.cs
  source/Energinet.DataHub.PostOffice.IntegrationTests/InboundIntegrationTestHost.cs
Due: none

Testing Category Attribute
  .github/workflows/inbound-ci.yml
  source/Energinet.DataHub.PostOffice.Tests/Validation/ValidationTests.cs
Due: none

Second attempt at category
  .github/workflows/inbound-ci.yml
  source/Energinet.DataHub.PostOffice.Tests/DataAvailableTests.cs
Due: none

Third time the charm
  .github/workflows/inbound-ci.yml
  source/Energinet.DataHub.PostOffice.Tests/Validation/ValidationTests.cs
Due: none

Wrong env
  .github/workflows/inbound-ci.yml
  source/Energinet.DataHub.PostOffice.Tests/MessageReplys/ContentPathStrategyTests.cs
Due: none
